@import "../css/normalize.css";
@import "../css/nulling-styles.css";
@import "../css/fonts.css";
@import "animation-hover.css";
.advantages-grade__card-heading, .programm__title, .consists-of-education__title {
  font-family: "ALSSchlangesans-Bold", sans-serif;
  margin: 0 0 30px;
  text-align: center;
  font-size: 28px;
  line-height: 100%;
}

@media (min-width: 415px) {
  .advantages-grade__card-heading, .programm__title, .consists-of-education__title {
    font-size: 34px;
  }
}
@media (min-width: 768px) {
  .advantages-grade__card-heading, .programm__title, .consists-of-education__title {
    font-size: 38px;
  }
}
@media (min-width: 1000px) {
  .advantages-grade__card-heading, .programm__title, .consists-of-education__title {
    font-size: 40px;
  }
}
@media (min-width: 1920px) {
  .advantages-grade__card-heading, .programm__title, .consists-of-education__title {
    font-size: 50px;
  }
}
body {
  font-family: "Gotham400", sans-serif;
  font-size: 14px;
  color: #243976;
  background-color: #fff;
}

.center {
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .center {
    padding: 0 40px;
  }
}
@media (min-width: 1000px) {
  .center {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1140px;
    width: 100%;
  }
}
@media (min-width: 1920px) {
  .center {
    margin: 0 auto;
    padding: 0;
    max-width: 1140px;
    width: 100%;
  }
}
.promotion {
  min-width: 280px;
  min-height: 445px;
  padding: 30px 20px 20px;
  background-color: #eff2fd;
  border-radius: 25px;
}
.promotion__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promotion__title {
  margin: 0 0 20px;
  text-align: center;
  font-family: "ALSSchlangesans-Bold", sans-serif;
  font-size: 20px;
  line-height: 103%;
}
.promotion__text {
  margin: 0 0 15px;
  text-align: center;
  line-height: 130%;
}
.promotion__image-wrapper {
  margin: 0 0 15px;
  width: 86px;
  height: 129px;
  background: url(../../images/online-learnig/promotion-girl.png) no-repeat center/contain;
}

.sign-up-lesson {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 105px;
}
.sign-up-lesson__btn-wrp {
  height: 54px;
}
.sign-up-lesson__btn {
  font-family: "Gotham700", sans-serif;
  color: #fff;
  padding: 21px 35px;
  border-radius: 90px;
  background: linear-gradient(273deg, #864ff1 0%, #49b3f7 100%);
  font-size: 11px;
  line-height: 13px;
  box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
  text-transform: uppercase;
  letter-spacing: 1.375px;
  display: block;
  white-space: nowrap;
}

.contact-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.contact-us__txt {
  font-family: "Gotham400", sans-serif;
  color: #737373;
  line-height: 23.128px;
  font-size: 14px;
}
.contact-us__icons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.contact-us__telegramm, .contact-us__whatsapp {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contact-us__telegramm {
  background-image: url(../../images/icon/telegramm-icon.svg);
}
.contact-us__whatsapp {
  background-image: url(../../images/icon/watsapp-icon.svg);
}

@media (min-width: 415px) {
  .sign-up-lesson {
    min-height: 117px;
  }
  .sign-up-lesson__btn-wrp {
    height: 67px;
  }
  .sign-up-lesson__btn {
    padding: 27px 56px;
  }
  .promotion {
    min-height: 316px;
  }
  .promotion__description-wrapper {
    grid-area: description;
  }
  .promotion__image-wrapper {
    grid-area: image;
    height: 119px;
  }
  .promotion .sign-up-lesson {
    grid-area: sign-up;
  }
  .promotion__wrapper {
    display: grid;
    grid-template-columns: 79px 1fr;
    -moz-column-gap: 17px;
         column-gap: 17px;
    grid-template-areas: "image description" "sign-up sign-up";
  }
  .promotion__title {
    font-size: 24px;
    line-height: 100%;
    margin: 0 0 10px;
    text-align: start;
  }
  .promotion__text {
    font-size: 16px;
    line-height: 103%;
    margin: 0 0 20px;
    text-align: start;
  }
  .promotion__btn {
    font-family: "Gotham700", sans-serif;
    color: #fff;
    padding: 27px 44px;
    border-radius: 90px;
    background: linear-gradient(273deg, #864ff1 0%, #49b3f7 100%);
    font-size: 11px;
    line-height: 13px;
  }
}
@media (min-width: 480px) {
  .contact-us {
    gap: 20px;
  }
  .contact-us__icons-wrapper {
    gap: 15px;
  }
  .promotion {
    padding: 30px 20px 30px;
    min-height: auto;
  }
  .promotion__title {
    line-height: 103%;
    margin: 0 0 20px;
  }
  .promotion__text {
    margin: 0 0 33px;
    line-height: 130%;
  }
  .promotion__wrapper {
    -moz-column-gap: 44px;
         column-gap: 44px;
  }
  .promotion__image-wrapper {
    margin: -41px 0 0;
    width: 94px;
    height: 141px;
  }
}
@media (min-width: 580px) {
  .promotion {
    margin: 0 auto;
    max-width: 688px;
    padding: 25px 25px 18px 23px;
  }
  .promotion__wrapper {
    grid-template-columns: 168px 1fr;
    -moz-column-gap: 33px;
         column-gap: 33px;
    row-gap: 20px;
    grid-template-areas: "image description" "image sign-up";
  }
  .promotion__image-wrapper {
    width: 168px;
    height: 253px;
  }
  .promotion__title {
    margin: 0 0 15px;
  }
  .promotion__text {
    font-size: 14px;
    margin: 0;
  }
  .promotion .sign-up-lesson {
    align-items: flex-start;
  }
  .promotion .sign-up-lesson__btn {
    padding: 24.2px 45px;
  }
  .promotion .contact-us__txt {
    font-size: 14px;
  }
}
@media (min-width: 1000px) {
  .promotion {
    max-width: 900px;
    min-height: 158px;
    padding: 0 20px 0 30px;
  }
  .promotion__wrapper {
    grid-template-columns: minmax(139px, 1fr);
    -moz-column-gap: 15px;
         column-gap: 15px;
    grid-template-areas: "image description sign-up";
  }
  .promotion__description-wrapper {
    min-width: 433px;
  }
  .promotion__image-wrapper {
    position: relative;
    left: 0;
    top: -15px;
    width: 132px;
    height: 199px;
  }
  .promotion__title {
    font-size: 26px;
  }
  .promotion .sign-up-lesson {
    max-width: 250px;
    height: 121px;
    align-items: flex-end;
  }
  .promotion .contact-us__txt {
    font-size: 16px;
  }
}
@media (min-width: 1920px) {
  .promotion {
    max-width: 1140px;
    min-height: 160px;
    padding: 15px 47px 0 55px;
  }
  .promotion__wrapper {
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .promotion__description-wrapper {
    max-width: 524px;
  }
  .promotion__title {
    font-size: 32px;
    margin: 0 0 5px;
  }
  .promotion__text {
    font-size: 16px;
  }
  .promotion__image-wrapper {
    width: 139px;
    height: 209.43px;
    top: 0;
    margin: -80px 0 0 0;
  }
  .promotion .sign-up-lesson {
    max-width: 273px;
    height: 117px;
    align-items: center;
    margin: 5px 0 0;
  }
  .promotion .sign-up-lesson__btn {
    padding: 27px 56px;
  }
}
.service-price {
  font-family: "Gotham700", sans-serif;
  color: #fff;
  padding: 20px 31px;
  border-radius: 25px;
  background: linear-gradient(273deg, #864ff1 0%, #49b3f7 100%);
  font-size: 26px;
  line-height: 37px;
  font-family: "Gotham500", sans-serif;
}
.service-price > span span:first-child {
  font-size: 24px;
  line-height: 141%;
  margin-right: 3px;
}
.service-price > span span:last-child {
  vertical-align: bottom;
  font-family: "Gotham400", sans-serif;
  font-size: 14px;
  line-height: 142%;
}
@media (min-width: 415px) {
  .service-price {
    padding: 18px 27px;
  }
  .service-price > span {
    font-size: 32px;
  }
}
@media (min-width: 480px) {
  .service-price {
    padding: 20px 25px;
  }
}
@media (min-width: 1920px) {
  .service-price {
    padding: 30px 35px;
  }
  .service-price > span {
    font-size: 36px;
  }
  .service-price > span span:first-child {
    margin-right: 3px;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form_grades-pages {
  max-width: 240px;
  width: 100%;
}
@media (min-width: 415px) {
  .form_grades-pages {
    max-width: 299px;
  }
}
@media (min-width: 1000px) {
  .form_grades-pages {
    flex-direction: row;
    gap: 12px;
  }
}
.form-wrapper {
  max-width: 349px;
  width: 100%;
  min-height: 318px;
  margin: 0 auto 20px;
  padding: 30px 19px;
  border-radius: 15px;
  box-shadow: 5px 15px 40px 0px rgba(30, 35, 66, 0.15);
  background-color: #fff;
}
@media (min-width: 415px) {
  .form-wrapper {
    margin: 0 auto 30px;
    padding: 35px 26px 23px;
  }
}
.form-wrapper_grades-pages {
  margin: 0 auto;
  padding: 30px 19px;
  width: 100%;
}
@media (min-width: 415px) {
  .form-wrapper_grades-pages {
    padding: 36px 26px 34px;
  }
}
@media (min-width: 480px) {
  .form-wrapper_grades-pages {
    margin: 0 auto 40px;
    padding: 35px 26px;
  }
}
@media (min-width: 760px) {
  .form-wrapper_grades-pages {
    margin: 0 auto;
  }
}
@media (min-width: 1000px) {
  .form-wrapper_grades-pages {
    max-width: 1139px;
    min-width: 900px;
    min-height: 60px;
    padding: 0;
    box-shadow: none;
    background: transparent;
  }
}
@media (min-width: 1920px) {
  .form-wrapper_grades-pages {
    padding: 36px 22px 18px 24px;
  }
}
.form__input-wrapper {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 0 0 10px 0;
}
@media (min-width: 415px) {
  .form__input-wrapper {
    margin: 0 0 20px 0;
    height: 56px;
  }
}
.form__input-wrapper::before {
  position: absolute;
  content: "";
  border-radius: 32px 0px 0px 32px;
  width: 45px;
  height: 40px;
  background-image: url(../../images/application/class-form-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 0;
  top: 0;
  z-index: 0;
}
@media (min-width: 415px) {
  .form__input-wrapper::before {
    width: 56px;
    height: 56px;
  }
}
@media (min-width: 1000px) {
  .form__input-wrapper_grades-pages {
    margin: 0;
  }
}
@media (min-width: 1000px) {
  .form__input-wrapper_grades-pages::before {
    background-image: url(../../images/about-programm/form-image-class-1000.svg);
    top: 0.2px;
  }
}
.form__input-wrapper:nth-child(2)::before {
  background: url(../../images/application/form-image-parent-name.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1000px) {
  .form__input-wrapper_grades-pages:nth-child(2)::before {
    background: url(../../images/about-programm/form-image-user-1000.svg);
  }
}
.form__input-wrapper:nth-child(3)::before {
  background: url(../../images/application/form-phone-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1000px) {
  .form__input-wrapper_grades-pages:nth-child(3)::before {
    background: url(../../images/about-programm/form-image-phone-1000.svg);
  }
}
.form__input {
  position: relative;
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 8px 24px 8px 54px;
  border: 1px solid #e0e0e0;
  border-radius: 32px;
}
.form__input::-moz-placeholder {
  font-family: "Gotham400" sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #9e9e9e;
}
.form__input::placeholder {
  font-family: "Gotham400" sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #9e9e9e;
}
@media (min-width: 415px) {
  .form__input {
    max-width: 298px;
    width: 100%;
    height: 56px;
    padding: 16px 7.81px 16px 63px;
  }
}
@media (min-width: 1000px) {
  .form__input_grades-pages {
    max-width: 263px;
    border: 1px solid rgba(36, 57, 118, 0.8);
  }
}
@media (min-width: 1000px) {
  .form__input_grades-pages {
    min-width: 263px;
  }
}
.form__button {
  font-family: "Gotham700", sans-serif;
  color: #fff;
  padding: 22px 37px;
  border-radius: 32px;
  background: linear-gradient(27deg, #4271df 16.72%, #789cf1 95.45%);
  font-size: 10px;
  line-height: 11.8px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: nowrap;
}
.form__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .form__button-wrapper {
    padding: 10px 0 20px;
  }
}
@media (min-width: 1920px) {
  .form__button-wrapper {
    padding: 11px 0 20px;
  }
}
@media (min-width: 415px) {
  .form__button-wrapper_grades-pages {
    padding: 10px 0 0;
  }
}
@media (min-width: 768px) {
  .form__button-wrapper_grades-pages {
    padding: 10px 0 20px;
  }
}
@media (min-width: 1000px) {
  .form__button-wrapper_grades-pages {
    padding: 0;
  }
}
@media (min-width: 415px) {
  .form__button_grades-pages {
    padding: 28px 68px;
    background: linear-gradient(273deg, #864ff1 0%, #49b3f7 100%);
    box-shadow: 0 6px 21px 0 rgba(104, 130, 245, 0.67);
    font-size: 11px;
  }
}
@media (min-width: 768px) {
  .form__button_grades-pages {
    padding: 22px 37px;
    background: linear-gradient(27deg, #4271df 16.72%, #789cf1 95.45%);
    box-shadow: none;
    font-size: 10px;
    letter-spacing: 0.12em;
  }
}
@media (min-width: 1000px) {
  .form__button_grades-pages {
    padding: 24px 33px;
    margin-left: 15px;
    background: linear-gradient(273deg, #864ff1 0%, #49b3f7 100%);
    box-shadow: 0 6px 21px 0 rgba(104, 130, 245, 0.67);
    font-size: 11px;
  }
}
@media (min-width: 1920px) {
  .form__button_grades-pages {
    padding: 28px 57px;
    margin-left: -2px;
  }
}
.form__agreement-text {
  color: #9e9e9e;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.form__agreement-text a {
  text-decoration-line: underline;
  color: #9e9e9e;
}
@media (min-width: 415px) {
  .form__agreement-text {
    font-size: 13px;
    line-height: 130%;
  }
}
@media (min-width: 480px) {
  .form__agreement-text {
    line-height: 123%;
  }
}
@media (min-width: 415px) {
  .form__agreement-text_visible {
    display: none;
  }
}
@media (min-width: 768px) {
  .form__agreement-text_visible {
    display: block;
  }
}
@media (min-width: 1000px) {
  .form__agreement-text_visible {
    display: none;
  }
}

.header {
  padding: 14px 0 17px 0;
  background: url(../../images/header/background.png) no-repeat center/cover;
}
.header__wrapper {
  margin: 0 0 32px;
  min-width: 280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__wrapper_grades-1-4 {
  margin: 0 0 20px;
}
.header__nav, .header__contacts, .header__contacts_grades-1-4 {
  display: none;
}
.header .sign-up-lesson__btn-wrp {
  position: relative;
}
.header .sign-up-lesson__btn-wrp::after {
  position: absolute;
  content: "";
  width: 29.78px;
  height: 34.42px;
  background-image: url(../../images/header/right-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: -46px;
  right: 26px;
  transform: rotate(-71deg);
}
.header .sign-up-lesson__btn-wrp_grades-1-4::after {
  top: -37px;
  right: 24px;
  transform: rotate(-75deg);
}

.logo, .logo__image, .logo__link {
  position: relative;
  z-index: 10;
  max-width: 120px;
  width: 100%;
  height: 34px;
}
.logo__link {
  display: block;
}
/* modile-menu */
.menu-list {
  position: relative;
  min-width: 280px;
  width: 100%;
  min-height: 186px;
  margin: 0 0 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  box-sizing: border-box;
}
.menu-list::before {
  content: "";
  position: absolute;
  top: -45px;
  width: 100%;
  height: 1px;
  background-color: #c5cff3;
}
.menu-item-account {
  position: relative;
  max-width: 161.5px;
  width: 100%;
  margin: 16px auto 0;
  padding: 0 0 0 24.5px;
}
.menu-item-account::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 16.51px;
  top: 0;
  left: 0;
  background-image: url(../../images/header/user-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.menu-item-tel {
  margin: 10px 0 0 0;
}
.menu-item-tel .menu-link {
  font-size: 20px;
  line-height: 118%;
}
.menu-link {
  font-family: "Gotham500", sans-serif;
  color: #243976;
  font-size: 16px;
  line-height: 100%;
}
.menu-buttons-group {
  min-height: 140px;
}

#menu-switch {
  display: none;
}

#menu-switch[type=checkbox]:checked ~ .mobile-menu__wrapper .mobile-menu__box {
  visibility: visible;
  opacity: 1;
}

#menu-switch[type=checkbox]:checked ~ .mobile-menu__wrapper {
  z-index: 4;
}

.mobile-menu__burger {
  display: block;
  position: relative;
  z-index: 6;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 90px;
  box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
  background: linear-gradient(273deg, #864ff1 0%, #49b3f7 100%);
  cursor: pointer;
  caret-color: transparent;
}
.mobile-menu__burger-element, .mobile-menu__burger-element::after, .mobile-menu__burger-element::before {
  position: relative;
  display: block;
  height: 1.7px;
  width: 15.8px;
  background-color: #fff;
  transition: all ease 0.4s;
}
.mobile-menu__burger-element::before {
  content: "";
  position: absolute;
  top: 5.1px;
}
.mobile-menu__burger-element::after {
  content: "";
  position: absolute;
  top: -5.1px;
}
.mobile-menu__wrapper {
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.mobile-menu__box {
  visibility: hidden;
  width: 100%;
  min-height: 565px;
  box-shadow: 5px 15px 40px 0px rgba(30, 35, 66, 0.15);
  border-radius: 0px 0px 15px 15px;
  border-top: 1px solid #c5cff399;
  padding: 120px 20px 75px;
  background-color: #eff2fd;
  opacity: 0;
  transition: all 0.8s ease-out 0.3s;
}

#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger > .mobile-menu__burger-element, #menu-switch[type=checkbox]:checked ~ .mobile-menu__burger > .mobile-menu__burger-element::before, #menu-switch[type=checkbox]:checked ~ .mobile-menu__burger > .mobile-menu__burger-element::after {
  background-color: transparent;
  width: 21px;
  height: 2px;
  border-radius: 1px;
}

#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger > .mobile-menu__burger-element::before {
  background-color: #fff;
  transform: rotate(45deg);
  top: 0px;
}

#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger > .mobile-menu__burger-element::after {
  background-color: #fff;
  transform: rotate(-45deg);
  top: 0px;
}

.buttons {
  min-height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.button {
  display: block;
  font-family: "Gotham700", sans-serif;
  color: #fff;
  padding: 8px 30px;
  border-radius: 15px;
  background: linear-gradient(27deg, #4271df 16.72%, #789cf1 95.45%);
  font-size: 12px;
  line-height: 118%;
}

/* END-modile-menu */
.header__banner-image {
  min-width: 280px;
  width: 100%;
  min-height: 167px;
  margin: 0 0 40px 0;
}
.header__banner-image_grades-1-4 {
  min-width: 212px;
  width: 76%;
  min-height: 199px;
  margin: 0 auto 17px;
}
.header__banner-title {
  min-width: 280px;
  width: 100%;
  min-height: 72px;
  font-family: "ALSSchlangesans-Bold", sans-serif;
  font-size: 34px;
  line-height: 100%;
  text-align: center;
  margin: 0 0 20px 0;
}
.header__banner-txt {
  min-width: 280px;
  width: 100%;
  font-family: "Gotham400", sans-serif;
  font-size: 15px;
  line-height: 165%;
  text-align: center;
  margin: 0 0 10px 0;
}
.header__banner-txt_grades-1-4 {
  font-size: 14px;
  padding: 0 10px;
}
.header__banner-txt_bold {
  font-family: "Gotham700", sans-serif;
  margin: 0 0 48px;
  min-height: 45px;
}
.header__banner-txt_bold_grades-1-4 {
  font-size: 14px;
  margin: 0 0 17px;
}

.color-blue {
  color: #49b3f7;
}

@media (min-width: 415px) {
  .header {
    padding: 15px 0 27px;
  }
  .header__wrapper_grades-1-4 {
    margin: 0 0 46px;
  }
  .header .sign-up-lesson_grades-1-4 {
    min-height: 121px;
  }
  .header .sign-up-lesson__btn-wrp::after {
    content: "";
    height: 34.42px;
    top: -36px;
    right: 45px;
    transform: rotate(-71deg);
  }
  .header .sign-up-lesson__btn-wrp_grades-1-4::after {
    top: -38px;
    right: 42px;
    transform: rotate(-76deg);
  }
  .logo, .logo__link, .logo__image {
    max-width: 170px;
    height: 48px;
  }
  .mobile-menu__burger {
    width: 43px;
    height: 43px;
  }
  .mobile-menu__burger-element, .mobile-menu__burger-element::before, .mobile-menu__burger-element::after {
    width: 17px;
    height: 2px;
  }
  .mobile-menu__burger-element::after {
    top: -6px;
  }
  .mobile-menu__burger-element::before {
    top: 6px;
  }
  .menu-list {
    margin: 0 0 30px;
  }
  .menu-list::before {
    top: -38px;
  }
  .header__banner-image_grades-1-4 {
    min-width: 235.7px;
    width: 63%;
    min-height: 223.41px;
    margin: 0 auto 40px;
  }
  .header__banner-title {
    font-size: 40px;
    margin: 0 0 30px;
  }
  .header__banner-txt_grades-1-4 {
    font-size: 15px;
    margin: 0 0 12px;
    padding: 0 10px;
  }
  .header__banner-txt_bold {
    margin: 0 0 25px 0;
  }
  .header__banner-txt_bold_grades-1-4 {
    font-size: 15px;
    margin: 0 0 23px;
  }
}
@media (min-width: 480px) {
  .header {
    padding: 15px 0 33px;
  }
  .header .sign-up-lesson__btn-wrp::after {
    display: none;
  }
  .header .sign-up-lesson_grades-1-4 {
    min-height: 116px;
  }
  .header__wrapper {
    margin: 0 0 44px;
  }
  .header__wrapper_grades-1-4 {
    margin: 0 0 11px;
  }
  .header__banner-image {
    margin: 0 auto 50px;
    max-width: 673px;
  }
  .header__banner-image_grades-1-4 {
    min-width: 308.62px;
    width: 70%;
    min-height: 293.23px;
  }
  .header__banner-text-wrp {
    max-width: 592px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .header__banner-title {
    margin: 0 0 23px;
  }
  .header__banner-title_grades-1-4 {
    margin: 0 0 26px;
  }
  .header__banner-txt {
    margin: 0 0 23px;
  }
  .header__banner-txt_grades-1-4 {
    padding: 0;
  }
  .header__banner-txt_bold {
    margin: 0 0 30px;
    min-height: 25px;
  }
  .contact-us__txt {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .header {
    padding: 7px 0 20px;
  }
  .header__wrapper {
    padding: 0 0 15px;
    width: 100%;
    position: relative;
    margin: 0 0 12px;
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__wrapper_grades-1-4 {
    height: 78px;
    margin: 0 0 14px;
    padding: 0 0 12px;
  }
  .header__wrapper::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #e4e5ec;
    bottom: 0;
  }
  .header__button-sign-up {
    padding: 18px 24.5px 19px;
  }
  .header__contacts {
    max-width: 397px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__contacts_grades-1-4 {
    max-width: 478px;
  }
  .header .contact-us__icons-wrapper_header_grades-1-4 {
    gap: 10px;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 0 0 63px;
  }
  .header__nav_grades-1-4 {
    row-gap: 41px;
    margin: 0 0 53px;
  }
  .header__nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 514px;
    width: 100%;
  }
  .header__nav-cabinet {
    margin: 0;
    max-width: 146px;
  }
  .menu-wrp {
    display: none;
  }
  .menu-link {
    font-size: 14px;
    line-height: 118.2%;
  }
  .menu-item-tel {
    margin: 0;
  }
  .menu-item-tel .menu-link {
    font-size: 16px;
  }
  .menu-item-tel_grades-1-4 .menu-link {
    font-size: 14px;
  }
  .menu-buttons-group {
    max-width: 420px;
    width: 100%;
    min-height: 30px;
  }
  .menu-buttons-group .buttons {
    min-height: 30px;
    flex-direction: row;
  }
  .sign-up-lesson__btn-wrp {
    height: 50px;
  }
  .header__banner-image {
    margin: 0 auto 40px;
  }
  .header__banner-image_grades-1-4 {
    min-width: 411.82px;
    width: 60%;
    min-height: 390.98px;
    margin: 0 auto 37px;
  }
  .header__banner-title {
    font-size: 60px;
    margin: 0 0 34px;
  }
  .header__banner-txt {
    font-size: 16px;
    margin: 0 0 22px;
  }
  .header__banner-txt_bold {
    margin: 0 0 28px;
  }
  .header__banner-txt_bold_grades-1-4 {
    margin: 0 0 30px;
  }
  .header__banner .sign-up-lesson {
    min-height: 121px;
  }
  .header__banner .sign-up-lesson__btn {
    padding: 24px 44px;
  }
}
@media (min-width: 1000px) {
  .header {
    padding: 7px 0 50px;
  }
  .header__wrapper {
    height: 79px;
  }
  .header__wrapper_grades-1-4 {
    margin: 0 0 12px;
  }
  .header__contacts {
    max-width: 420px;
  }
  .header__contacts_grades-1-4 {
    max-width: 542px;
  }
  .header .contact-us__icons-wrapper_header_grades-1-4 {
    gap: 15px;
  }
  .header__nav {
    margin: 0 0 42px;
    row-gap: 43px;
  }
  .header__nav-items {
    max-width: 554px;
  }
  .header__nav-cabinet_grades-1-4::before {
    height: 18.51px;
  }
  .menu-item-tel .menu-link {
    font-size: 18px;
  }
  .header__banner {
    position: relative;
  }
  .header__banner-image-wrp {
    position: absolute;
    right: 0;
    bottom: 80px;
    max-width: 481px;
    min-height: 286px;
  }
  .header__banner-image-wrp_grades-1-4 {
    right: -58px;
    bottom: -2px;
  }
  .header__banner-image {
    margin: 0;
  }
  .header__banner-image_grades-1-4 {
    min-width: 452.9px;
    min-height: 426.88px;
  }
  .header__banner-text-wrp {
    max-width: 100%;
    padding: 0;
  }
  .header__banner-title {
    font-size: 78px;
    line-height: 103%;
    text-align: start;
    margin: 0 0 25px;
  }
  .header__banner-txt {
    text-align: start;
    max-width: 445px;
  }
  .header__banner-txt_bold {
    margin: 0 0 39px;
    letter-spacing: -0.2px;
  }
  .header__banner .sign-up-lesson {
    align-items: flex-start;
  }
  .header__banner .sign-up-lesson__btn-wrp::after {
    display: block;
    width: 60px;
    height: 60px;
    left: 273px;
    top: -25px;
    transform: rotate(-2deg);
  }
}
@media (min-width: 1920px) {
  .header {
    padding: 8px 0 60px;
  }
  .header_grades-1-4 {
    padding: 8px 0 40px;
  }
  .header__wrapper {
    height: 84px;
    margin: 0 0 20px;
  }
  .header__wrapper::after {
    bottom: -5px;
  }
  .header__contacts {
    max-width: 437px;
    align-items: center;
  }
  .header__contacts_grades-1-4 {
    max-width: 547px;
  }
  .header .contact-us__icons-wrapper_header_grades-1-4 {
    gap: 13px;
  }
  .header__button-sign-up {
    padding: 23px 31px 21px;
  }
  .header__button-sign-up-wrp_grades-1-4 {
    margin: -9px 0 0;
  }
  .header__nav {
    row-gap: 50px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin: 0 0 12px;
  }
  .header__nav_grades-1-4 {
    row-gap: 29px;
    margin: 0 0 32px;
  }
  .header__banner-image-wrp {
    max-width: 673px;
    width: 100%;
    min-height: 400px;
    bottom: 10px;
  }
  .header__banner-image-wrp_grades-1-4 {
    right: -156px;
    bottom: 4px;
  }
  .header__banner-image_grades-1-4 {
    min-width: 518.83px;
    min-height: 492.71px;
  }
  .header__banner-title {
    font-size: 84px;
    margin: 0 0 23px;
  }
  .header__banner-title_grades-1-4 {
    margin: 0 0 24px;
  }
  .header__banner-txt {
    min-width: 486px;
    max-width: 607px;
    font-size: 17px;
  }
  .header__banner-txt_grades-1-4 {
    margin: 0 0 24px;
  }
  .header__banner .sign-up-lesson__btn {
    padding: 27px 57px;
  }
  .header__banner .sign-up-lesson__btn-wrp::after {
    left: 303px;
  }
  .header__banner .sign-up-lesson_grades-1-4 {
    height: 123px;
  }
  .header__banner .sign-up-lesson .contact-us {
    padding: 0 0 0 20px;
  }
  .header__banner .sign-up-lesson .contact-us__txt {
    font-size: 17px;
  }
  .header__banner .sign-up-lesson .contact-us_grades-1-4 {
    gap: 17px;
  }
  .logo, .logo__link, .logo__image {
    max-width: 236px;
    height: 67px;
  }
  .menu-item-tel {
    padding: 10px 0 0;
  }
  .menu-item-tel_grades-1-4 {
    padding: 0;
  }
  .menu-item-tel .menu-link {
    font-size: 20px;
  }
}
.consists-of-education {
  padding: 40px 0 52px;
}
.consists-of-education__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.consists-of-education__item:first-child .consists-of-education__button {
  padding: 19px 34.4px;
}
.consists-of-education__button {
  display: inline-block;
  font-family: "Gotham700", sans-serif;
  color: #fff;
  padding: 19px 33px;
  border-radius: 15px;
  background: #eff2fd;
  font-size: 24px;
  line-height: 103%;
  font-family: "ALSSchlangesans-Bold", sans-serif;
  color: #243976;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@media (min-width: 415px) {
  .consists-of-education {
    padding: 50px 0;
  }
  .consists-of-education__item:first-child .consists-of-education__button {
    padding: 16px 24px;
  }
  .consists-of-education__button {
    font-size: 30px;
    padding: 16px 24px;
  }
}
@media (min-width: 480px) {
  .consists-of-education {
    padding: 60px 0 70px;
  }
  .consists-of-education__title {
    margin: 0 0 32px;
  }
  .consists-of-education__list {
    flex-direction: row;
    gap: 16px;
  }
  .consists-of-education__item:first-child .consists-of-education__button {
    padding: 15px 20px;
  }
  .consists-of-education__button {
    font-size: 18px;
    padding: 15px 20px;
  }
}
@media (min-width: 768px) {
  .consists-of-education {
    padding: 60px 0 80px;
  }
  .consists-of-education__title {
    margin: 0 0 42px;
  }
  .consists-of-education__list {
    gap: 37px;
  }
  .consists-of-education__item:first-child .consists-of-education__button {
    padding: 16px 24px;
  }
  .consists-of-education__button {
    font-size: 30px;
    padding: 16px 24px;
  }
}
@media (min-width: 1000px) {
  .consists-of-education {
    padding: 70px 0 80px;
  }
  .consists-of-education__list {
    gap: 28px;
    margin: 0 auto;
    max-width: 662px;
    width: 100%;
  }
}
@media (min-width: 1920px) {
  .consists-of-education {
    padding: 40px 0 57px;
  }
  .consists-of-education__title {
    margin: 0 0 31px;
    text-align: start;
  }
  .consists-of-education__list {
    gap: 16px;
    max-width: 100%;
  }
}
.about-programm {
  padding: 28px 0 30px;
  background-color: #eff2fd;
  border-radius: 30px;
}
.about-programm .center {
  display: grid;
  grid-template: repeat(5, auto)/1fr;
  grid-template-areas: "basic-programm" "image" "subjects" "secondary-programm" "form";
  row-gap: 50px;
}
.about-programm__basic-programm {
  grid-area: basic-programm;
}
.about-programm__image {
  min-width: 280px;
  width: 98%;
  min-height: 177px;
}
.about-programm__image-wrapper {
  grid-area: image;
}
.about-programm__subjects {
  grid-area: subjects;
}
.about-programm__secondary-programm {
  grid-area: secondary-programm;
}
.about-programm__form-block {
  grid-area: form;
}
.about-programm__form-block-heading {
  font-family: "Gotham500", sans-serif;
  font-size: 16px;
  line-height: 103%;
  text-align: center;
  margin: 0 0 30px;
}

.programm__title {
  margin: 0 0 31px;
}
.programm__title_secondary {
  margin: -4px 0 30px;
}
.programm__description {
  line-height: 129%;
  text-align: center;
  margin: 0 0 30px;
}
.programm__description .transfer-text {
  display: none;
}
.programm__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.programm__feature {
  font-family: "Gotham500", sans-serif;
  font-size: 16px;
  line-height: 103%;
  min-height: 30px;
}
.programm__feature-list {
  max-width: 200px;
  width: 100%;
  min-height: 142px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.programm__feature-list .programm__feature-item:last-child {
  padding-left: 37px;
}
.programm__feature-item:not(:first-child) {
  min-height: 36px;
  padding-top: 0;
}
.programm__feature-item {
  position: relative;
  padding-left: 45px;
  padding-top: 5px;
}
.programm__feature-item:nth-child(1)::before, .programm__feature-item:nth-child(2)::before, .programm__feature-item:nth-child(3)::before {
  position: absolute;
  content: "";
  background-image: url(../../images/icon/notes-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
}
.programm__feature-item:nth-child(2)::before {
  background-image: url(../../images/icon/calendar-icon.svg);
  height: 25.59px;
}
.programm__feature-item:nth-child(3)::before {
  background-image: url(../../images/icon/weeked-icon.svg);
  width: 22px;
  height: 25px;
}
.programm__price {
  padding: 20px 35px 23px 34px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.15);
}
.programm__price > span {
  font-family: "Gotham500", sans-serif;
  font-size: 30px;
}
.programm__price > span span:first-child {
  font-family: "Gotham500", sans-serif;
  margin-right: 0;
  margin-left: -3px;
}
.programm__price > span span:last-child {
  margin-left: -5px;
}

.subjects__title {
  font-family: "Gotham500", sans-serif;
  font-size: 20px;
  line-height: 103%;
  text-align: center;
  margin: 0 0 30px;
}
.subjects__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.subjects__item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  max-width: 215px;
  width: 100%;
  height: 60px;
  padding: 10px 24px 10px 16px;
  border-radius: 25px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(27deg, #4271df 16.72%, #789cf1 95.45%);
}
.subjects__name {
  text-align: center;
  min-width: 130px;
  width: 100%;
  font-family: "Gotham500", sans-serif;
  color: #f8f9ff;
  line-height: 103%;
  letter-spacing: 0.5px;
}
.subjects__name_secondary-programm {
  text-align: start;
  font-size: 16px;
  letter-spacing: 0px;
  padding-left: 16px;
}

@media (min-width: 415px) {
  .about-programm {
    padding: 30px 0;
  }
  .about-programm__image {
    min-width: 293px;
    min-height: 196px;
    width: 78%;
    margin: 0 auto;
  }
  .about-programm__form-block-heading {
    font-size: 20px;
    line-height: 103%;
    margin: 0 0 30px;
  }
  .programm__title_secondary-programm {
    margin: 0 0 30px;
  }
  .programm__description {
    font-size: 15px;
    padding: 0 32px;
    line-height: 153%;
  }
  .programm__banner {
    gap: 31px;
  }
  .programm__feature {
    font-size: 20px;
  }
  .programm__feature-list {
    min-height: 148px;
    max-width: 266px;
    align-items: start;
  }
  .programm__feature-list .programm__feature-item:last-child {
    padding-left: 62px;
  }
  .programm__feature-item {
    padding-left: 62px;
  }
  .programm__feature-item:nth-child(1)::before, .programm__feature-item:nth-child(2)::before, .programm__feature-item:nth-child(3)::before {
    width: 32px;
    height: 32px;
  }
  .programm__feature-item:nth-child(1)::before {
    left: 2px;
    top: 1px;
  }
  .programm__feature-item:nth-child(2)::before {
    width: 34px;
    height: 30px;
  }
  .programm__feature-item:nth-child(3)::before {
    width: 28px;
    height: 33px;
  }
  .subjects__item {
    max-width: 262px;
    height: 68px;
    padding: 24px 34px 24px 16px;
  }
  .subjects__name {
    font-size: 20px;
    min-width: 190px;
    letter-spacing: 0;
  }
  .subjects__name_secondary-programm {
    padding-left: 30px;
  }
}
@media (min-width: 480px) {
  .about-programm {
    border-radius: 50px;
  }
  .about-programm__image {
    min-width: 415px;
    min-height: 263px;
  }
  .about-programm__secondary-programm {
    padding: 20px 0;
  }
  .about-programm__form-block-heading {
    font-size: 18px;
    line-height: 103%;
    margin: 0 0 29px;
  }
  .programm__description {
    font-size: 14px;
    padding: 0;
    line-height: 130%;
  }
  .programm__banner {
    gap: 17px;
  }
  .programm__feature {
    font-size: 20px;
  }
  .programm__feature-list {
    min-height: 138px;
    max-width: 365px;
    align-items: center;
  }
  .programm__feature-list .programm__feature-item:nth-child(2) {
    padding-top: 5px;
  }
  .programm__feature-list .programm__feature-item:last-child {
    padding-left: 44px;
  }
  .programm__feature-item {
    padding-left: 44px;
  }
  .programm__feature-item:nth-child(1)::before, .programm__feature-item:nth-child(2)::before, .programm__feature-item:nth-child(3)::before {
    width: 32px;
    height: 32px;
  }
  .programm__feature-item:nth-child(1)::before {
    width: 29px;
    height: 28px;
    left: -1px;
  }
  .programm__feature-item:nth-child(2)::before {
    width: 30px;
    left: -2px;
    height: 26px;
  }
  .programm__feature-item:nth-child(3)::before {
    background-image: url(../../images/icon/weeked-icon.svg);
    width: 22px;
    height: 25px;
    top: -2px;
    left: -1px;
  }
  .subjects__list {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 9px;
         column-gap: 9px;
    row-gap: 25px;
  }
  .subjects__title {
    margin: -1px 0 30px;
  }
  .subjects__item {
    max-width: 215px;
    height: 60px;
    padding: 24px 34px 24px 16px;
  }
  .subjects__name {
    font-size: 15px;
    min-width: 130px;
    line-height: 100%;
    letter-spacing: 0;
  }
  .subjects__name_secondary-programm {
    padding-left: 16px;
    letter-spacing: 0.5px;
  }
}
@media (min-width: 768px) {
  .about-programm {
    padding: 38px 0 40px;
    border-radius: 100px;
  }
  .about-programm .center {
    row-gap: 60px;
  }
  .about-programm__image {
    min-width: 489px;
    min-height: 310px;
    width: 71%;
    margin: -13px auto 1px;
  }
  .about-programm__secondary-programm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -moz-column-gap: 54px;
         column-gap: 54px;
    padding: 19px 0 21px;
  }
  .about-programm__form-block-heading {
    margin: 0 0 40px;
  }
  .programm__title {
    margin: 0 0 41px;
  }
  .programm__title_secondary-programm {
    margin: 0 0 42px;
  }
  .programm__description {
    font-size: 15px;
    line-height: 127%;
    margin: 0 0 40px;
  }
  .programm__description_secondary-programm {
    max-width: 409px;
    width: 100%;
    min-height: 126px;
    font-size: 14px;
    line-height: 130%;
    text-align: start;
    margin: 0;
  }
  .programm__banner {
    flex-direction: row;
    justify-content: space-between;
  }
  .programm__feature {
    font-size: 20px;
  }
  .programm__feature-list {
    align-items: start;
  }
  .programm__feature-item:nth-child(2)::before {
    left: 0px;
    top: 1px;
  }
  .programm__price {
    padding: 29px 23px 31px 34px;
    margin: -11px 0 0;
  }
  .programm__price > span {
    font-size: 36px;
  }
  .programm__price > span span:first-child {
    margin-right: 0;
    margin-left: 0;
    position: relative;
    top: -2px;
    left: -2px;
  }
  .programm__price > span span:last-child {
    margin-left: 0;
    position: relative;
    top: -4px;
    left: -12px;
  }
  .subjects__list {
    row-gap: 20px;
    -moz-column-gap: 70px;
         column-gap: 70px;
  }
  .subjects__list_secondary-programm {
    flex-direction: column;
  }
  .subjects__item {
    max-width: 225px;
    min-width: 144px;
  }
  .subjects__name {
    font-size: 16px;
    position: relative;
    top: -1px;
  }
  .subjects__name_secondary-programm {
    font-size: 18px;
    padding-left: 10px;
  }
}
@media (min-width: 1000px) {
  .about-programm {
    padding: 57px 0 41px;
    border-radius: 70px;
  }
  .about-programm .center {
    grid-template: repeat(4, auto)/minmax(400px, 1fr) minmax(480px, 1fr);
    grid-template-areas: "basic-programm image" "basic-programm subjects" "secondary-programm secondary-programm" "form form";
    row-gap: 78px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .about-programm__image {
    min-width: 369px;
    min-height: 234px;
    width: 71%;
    margin: 2px auto 0;
  }
  .about-programm__secondary-programm {
    -moz-column-gap: 30px;
         column-gap: 30px;
    padding: 0;
  }
  .about-programm__form-block-heading {
    font-size: 20px;
    font-weight: 500;
    text-align: start;
    margin: 1px 0 42px;
  }
  .programm__title {
    margin: 0 0 43px;
    text-align: start;
  }
  .programm__title_secondary-programm {
    width: 100%;
  }
  .programm__description {
    text-align: start;
    margin: 0 0 30px;
  }
  .programm__description .transfer-text {
    display: block;
  }
  .programm__description_secondary-programm {
    max-width: 390px;
    margin: 0;
    font-size: 15px;
    line-height: 126%;
  }
  .programm__banner {
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }
  .subjects {
    margin: -30px 0 0;
  }
  .subjects__list {
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
  }
  .subjects__list_secondary-programm {
    flex-direction: row;
  }
  .subjects_secondary-programm {
    margin: 0;
  }
  .subjects_name_secondary-programm {
    letter-spacing: 0;
  }
}
@media (min-width: 1920px) {
  .about-programm {
    padding: 70px 0 60px;
    border-radius: 192px;
    max-width: 1648px;
    margin: 0 auto;
  }
  .about-programm .center {
    row-gap: 61px;
  }
  .about-programm__image {
    min-width: 384px;
    min-height: 243.67px;
    width: 68%;
    margin: 0 auto;
    position: relative;
    top: -30px;
    left: -7px;
  }
  .about-programm__secondary-programm {
    justify-content: space-between;
  }
  .about-programm__form-block {
    margin: -68px 0 0;
  }
  .about-programm__form-block-heading {
    margin: 0 0 39px;
  }
  .about-programm__form-wrapper {
    padding: 0;
    min-height: 67px;
  }
  .programm__title {
    margin: 0px 0 22px;
  }
  .programm__description {
    max-width: 457px;
    margin: 0 0 42px;
    line-height: 128%;
  }
  .programm__banner {
    gap: 27px;
    row-gap: 25px;
  }
  .programm__feature-list {
    min-height: 168px;
    gap: 38px;
  }
  .programm__feature-list .programm__feature-item:nth-child(2) {
    padding-top: 3px;
  }
  .programm__feature-item:nth-child(2)::before {
    top: -1px;
    height: 25.6px;
  }
  .programm__feature-item:nth-child(3)::before {
    left: 0;
  }
  .subjects {
    margin: -106px 0 0;
  }
  .subjects_secondary-programm {
    margin: -97px 0 0;
  }
  .subjects__title {
    margin: 0 0 35px;
  }
  .subjects__item {
    max-width: 262px;
    padding: 24px 43px 24px 16px;
    height: 68px;
  }
  .subjects__name {
    font-size: 20px;
    min-width: 191px;
    top: 0;
  }
  .subjects__name_secondary-programm {
    padding-left: 29px;
    top: -2px;
  }
}
.advantages-grade {
  padding: 50px 0;
}
.advantages-grade__inner, .advantages-grade__list {
  min-width: 280px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.advantages-grade__item {
  border-radius: 25px;
  background-color: #eff2fd;
  min-width: 280px;
  width: 100%;
  min-height: 422px;
  padding: 29.3px 20px 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.advantages-grade__item:nth-child(1) .advantages-grade__card-img_grades-5-8 {
  width: 237.82px;
  height: 126.6px;
}
.advantages-grade__item:nth-child(2) .advantages-grade__card-img {
  width: 240px;
  height: 145.84px;
}
.advantages-grade__item_right:nth-child(1) .advantages-grade__card-img {
  width: 239.63px;
  height: 179.16px;
}
.advantages-grade__item_right:nth-child(2) .advantages-grade__card-img {
  width: 240px;
  height: 135px;
}
.advantages-grade__card-heading {
  line-height: 103%;
}
.advantages-grade__card-text {
  font-size: 15px;
  line-height: 127%;
  margin: 0 0 30px;
  text-align: center;
}
.advantages-grade__card-img {
  margin: 0 auto;
}
.advantages-grade__card-img-wrapper {
  width: 100%;
}

@media (min-width: 415px) {
  .advantages-grade__item {
    min-height: 418px;
    padding: 30px 32px 30px 31px;
  }
  .advantages-grade__item:nth-child(1) .advantages-grade__card-img_grades-1-4 {
    width: 240px;
    height: 149px;
  }
  .advantages-grade__item:nth-child(2) .advantages-grade__card-img {
    width: 252px;
    height: 150.32px;
  }
  .advantages-grade__item_right:nth-child(1) .advantages-grade__card-img {
    width: 213.28px;
    height: 150px;
  }
  .advantages-grade__item_right:nth-child(2) .advantages-grade__card-img {
    width: 256px;
    height: 151px;
  }
  .advantages-grade__item_right:nth-child(2) .advantages-grade__card-heading {
    white-space: nowrap;
    position: relative;
    left: -10px;
  }
  .advantages-grade__card-text {
    line-height: 152%;
  }
}
.footer {
  padding: 30px 0 14px;
  background: #eff2fd;
}
.footer__position-wrapper {
  display: grid;
  -moz-column-gap: 5px;
       column-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "logo logo" "classes documents" "social social" "contacts contacts";
}
.footer__logo {
  grid-area: logo;
  margin: 0 0 30px 0;
}
.footer__block-classes {
  grid-area: classes;
  min-height: 107px;
  margin: 0 0 20px 0;
}
.footer__block-documents {
  grid-area: documents;
  margin: 0 0 20px 0;
}
.footer__block-social {
  grid-area: social;
  min-height: 76px;
  margin: 0 0 30px 0;
}
.footer__block-contacts {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 20px 0;
}
.footer-title {
  font-size: 16px;
  line-height: 103%;
}
.footer__title-classes {
  margin: 0 0 10px 0;
}
.footer__title-documents {
  margin: 0 0 31px 0;
}
.footer__title-social {
  margin: 0 0 26px 0;
}
.footer__list-social {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-link {
  line-height: 193%;
  color: #243976;
}
.footer__link-documents {
  font-size: 15px;
  line-height: 180%;
}
.footer__link-contacts {
  font-size: 13px;
  line-height: 154%;
}
.footer__link-documents {
  display: flex;
  align-items: center;
  padding-left: 50px;
  position: relative;
  color: #243976;
}
.footer__link-documents::before {
  content: "";
  width: 40px;
  height: 51px;
  position: absolute;
  background: url(../../images/footer/lic.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 0;
}
.footer__link-social {
  display: block;
  width: 34px;
  height: 34px;
}
.footer__link-social--telegram {
  background: url(../../images/icon/telegramm-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.footer__link-social--youtube {
  background: url(../../images/icon/youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.footer__link-social--vk {
  background: url(../../images/icon/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.footer__address, .footer__tel {
  position: relative;
  max-width: 209px;
  width: 100%;
  min-height: 40px;
  padding: 0 0 0 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__address::before, .footer__tel::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url(../../images/footer/icon-map.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 0;
}
.footer__tel::before {
  background-image: url(../../images/footer/icon-tel.svg);
}
.footer__item-info {
  font-size: 8px;
  color: #9299af;
  line-height: 16.256px;
  text-align: center;
}

@media (min-width: 415px) {
  .footer {
    padding: 28px 0 31px;
  }
  .footer__block-classes {
    display: none;
  }
  .footer__position-wrapper {
    display: grid;
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo logo" "social documents" "contacts contacts";
  }
  .footer__logo, .footer__logo-link, .footer__logo-image {
    max-width: 236px;
    height: 67px;
  }
  .footer__block-contacts {
    justify-self: center;
    margin-bottom: 40px;
  }
  .footer-title {
    font-size: 20px;
  }
  .footer__title-documents {
    margin: 0 0 27px 0;
  }
  .footer__title-social {
    margin: 0 0 22px 0;
  }
  .footer__link-contacts {
    font-size: 15px;
    line-height: 27px;
  }
  .footer__address, .footer__tel {
    max-width: 233px;
    padding: 0 0 0 54px;
  }
  .footer__address::before, .footer__tel::before {
    width: 46px;
    height: 46px;
  }
  .footer__block-documents {
    margin-bottom: 51px;
  }
}
@media (min-width: 480px) {
  .footer {
    padding: 30px 0 14px;
  }
  .footer .center {
    padding: 0 30px;
  }
  .footer__logo {
    margin: 0 0 40px 0;
  }
  .footer__block-classes {
    display: block;
    margin: 0 0 26px 0;
  }
  .footer-title {
    font-size: 18px;
  }
  .footer__title-classes {
    margin: 0 0 15px 0;
  }
  .footer__title-social {
    margin: 0 0 26px 0;
  }
  .footer__item-classes {
    margin: 0 0 5px 0;
  }
  .footer__position-wrapper {
    -moz-column-gap: 52px;
         column-gap: 52px;
    grid-template-columns: repeat(3, minmax(70px, auto));
    grid-template-areas: "logo logo logo" "classes documents social" "contacts contacts contacts";
  }
  .footer__block-contacts {
    flex-direction: row;
    gap: 40px;
    margin-bottom: 30px;
  }
  .footer__address, .footer__tel {
    padding: 0 0 0 45px;
  }
  .footer__address::before, .footer__tel::before {
    width: 40px;
    height: 40px;
  }
  .footer__address {
    padding: 0 12px 0 45px;
  }
  .footer__link-documents {
    font-size: 15px;
    line-height: 180%;
  }
  .footer__link-contacts {
    font-size: 13px;
    line-height: 154%;
  }
}
@media (min-width: 768px) {
  .footer .center {
    padding: 0 50px 0 40px;
  }
  .footer__logo {
    margin: -9px 0px 40px 0;
    width: 170px;
    height: 48px;
  }
  .footer__position-wrapper {
    -moz-column-gap: 54px;
         column-gap: 54px;
    grid-template-columns: minmax(170px, auto) minmax(70px, auto) minmax(128px, auto) minmax(108px, auto);
    grid-template-areas: "logo classes documents social" "contacts contacts contacts contacts";
  }
  .footer__block-classes {
    margin: 0 0 25px;
  }
  .footer__title-documents {
    margin: 0 0 18px;
  }
  .footer__title-social {
    margin: 0 0 24px;
  }
  .footer__link-documents {
    font-size: 14px;
    padding-left: 33px;
  }
  .footer__link-documents::before {
    width: 21px;
    height: 26.77px;
  }
  .footer__link-social {
    width: 30px;
    height: 30px;
  }
  .footer__block-contacts {
    gap: 91px;
  }
  .footer__link-contacts {
    font-size: 14px;
    line-height: 193%;
  }
  .footer__address {
    padding: 0 20px 0 50px;
  }
}
@media (min-width: 1000px) {
  .footer {
    padding: 40px 0 14px;
  }
  .footer .center {
    padding: 0 50px;
  }
  .footer__position-wrapper {
    -moz-column-gap: 40px;
         column-gap: 40px;
    grid-template-columns: minmax(170px, auto) minmax(100px, auto) minmax(118px, auto) minmax(120px, auto) minmax(214px, auto);
    grid-template-areas: "logo classes documents social contacts";
  }
  .footer__logo {
    margin: -19px 0 0 0;
  }
  .footer__block-classes {
    margin: 0 0 5px;
  }
  .footer__block-classes, .footer__block-social {
    padding: 0 0 0 9px;
  }
  .footer__block-contacts {
    flex-direction: column;
    gap: 6px;
    padding: 0 0 0 39px;
    margin: -5px 0 0;
  }
  .footer__tel {
    padding: 0 0 0 50px;
  }
  .footer__item-info {
    text-align: start;
  }
}
@media (min-width: 1920px) {
  .footer {
    padding: 49px 0 12px;
  }
  .footer .center {
    padding: 0;
  }
  .footer__position-wrapper {
    grid-template-columns: minmax(250px, auto) minmax(88px, auto) minmax(138px, auto) minmax(153px, auto) minmax(321px, auto);
    grid-template-areas: "logo classes documents social contacts";
  }
  .footer__logo {
    width: 236px;
    height: 67px;
    margin: 0;
  }
  .footer__title, .footer__title-documents {
    font-size: 20px;
  }
  .footer__title-classes {
    margin: 0 0 18px;
  }
  .footer__item-classes {
    margin: 0 0 9px;
  }
  .footer__link-social {
    width: 34px;
    height: 34px;
  }
  .footer__block-info {
    max-width: 254px;
    width: 100%;
    margin-top: -22px;
  }
  .footer__block-contacts {
    margin-top: -10px;
    gap: 8px;
  }
  .footer__link-contacts {
    font-size: 16px;
    line-height: 169%;
  }
  .footer__address::before, .footer__tel::before {
    width: 46px;
    height: 46px;
  }
  .footer__address {
    padding: 0 0 0 53px;
  }
  .footer__tel {
    padding: 0 0 0 56px;
  }
}