.accordion {
  padding: 50px 0;

  &__item {
    border-radius: 25px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__input {
    display: none;

    &:checked ~ .accordion__body {
      display: block;
      margin: 0 0 15px;
    }
    &:checked ~ .accordion__button {
      margin: 0;
      padding: 20px 13px;
      border-radius: 25px 25px 0 0;
      border-left: 15px solid $text-color-blue;
    }
    &:checked + .accordion__button > span {
      transform: rotate(45deg);
    }
  }

  &__button {
    min-height: 76px;
    @include flexSpaceBetween;
    position: relative;
    padding: 0 13px 0 28px;
    background-color: #eff2fd;
    border-radius: 25px;
    color: $text-color-blue;
    font-family: "ALSSchlangesans-Bold";
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;

    &:not(:last-child) {
      margin: 0 0 15px;
    }

    span {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: url(../../images/accordion/plus.png) no-repeat center / cover;
    }
  }

  &__body {
    padding: 0 13px 37px;
    border-left: 15px solid $text-color-blue;
    border-radius: 0 0 25px 25px;
    background-color: #eff2fd;
    display: none;
    transition: all 0.8s ease-in-out;
  }

  &__text {
    color: $text-color-blue;
    font-size: 12px;
    line-height: 130%;
    padding: 0 0 20px;
    span {
      font-family: "Gotham700";
    }
  }

  &__text-list-wrp > .accordion__text {
    padding: 0;
  }

  &__text-list {
    padding-left: 22px;
    margin: 0 0 20px;
  }

  &__text-item {
    list-style: disc;
    color: $text-color-blue;
    font-size: 12px;
    line-height: 15.6px;
  }
}
@media (min-width: 415px) {
  .accordion {
    &__input {
      &:checked ~ .accordion__button {
        padding: 25px 27px 20px 10px;
        border-left: 25px solid $text-color-blue;
      }
    }
    &__button {
      font-size: 20px;
      line-height: 20.64px;
      gap: 15px;

      &:not(:last-child) {
        margin: 0 0 20px;
      }
      span {
        min-width: 30px;
        height: 30px;
      }
    }
    &__body {
      padding: 0 13px 31px;
      border-left: 25px solid $text-color-blue;
    }
    &__text {
      font-size: 15px;
      line-height: 150%;
      padding: 0 0 33px;
    }
    &__text-item {
      font-size: 15px;
      line-height: 150%;
    }
  }
}
