.advantages-grade {
  padding: 50px 0;
  &__list {
    min-width: 280px;
    width: 100%;
    @include flexCenter;
    flex-direction: column;
    gap: 30px;
  }
  &__item {
    border-radius: 25px;
    background-color: #eff2fd;
    min-width: 280px;
    width: 100%;
    min-height: 422px;
    padding: 29.3px 20px 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    &:nth-child(1) .advantages-grade__card-img_grades-5-8 {
      width: 237.82px;
      height: 126.6px;
    }
    &:nth-child(2) .advantages-grade__card-img {
      width: 240px;
      height: 145.84px;
    }
    &:nth-child(3) .advantages-grade__card-img {
      width: 239.63px;
      height: 178.16px;
    }
    &:nth-child(4) .advantages-grade__card-img {
      width: 240px;
      height: 135px;
    }
  }
  &__card {
    &-heading {
      @extend %main-titles;
      line-height: 103%;
    }
    &-text {
      font-size: 15px;
      line-height: 127%;
      margin: 0 0 30px;
      text-align: center;
    }
    &-img {
      margin: 0 auto;
      &-wrapper {
        width: 100%;
      }
    }
  }
}
@media (min-width: 415px) {
  .advantages-grade {
    &__item {
      min-height: 418px;
      padding: 30px 32px 30px 31px;
      &:nth-child(1) .advantages-grade__card-img_grades-1-4 {
        width: 240px;
        height: 149px;
      }
      &:nth-child(2) .advantages-grade__card-img {
        width: 252px;
        height: 150.32px;
      }
      &:nth-child(3) .advantages-grade__card-img {
        width: 213.28px;
        height: 150px;
        position: relative;
        left: 2px;
        top: 1px;
      }
      &:nth-child(4) .advantages-grade__card-img {
        width: 256px;
        height: 151px;
      }
      &:nth-child(4) .advantages-grade__card-heading {
        white-space: nowrap;
        position: relative;
        left: -10px;
      }
    }
    &__card {
      &-text {
        line-height: 152%;
        .word-wrap {
          display: none;
        }
      }
    }
  }
}
@media (min-width: 480px) {
  .advantages-grade {
    padding: 69px 0 70px;
    .center {
      padding: 0 50px;
    }
    &__item {
      padding: 29px 30px 30px;
      &:nth-child(1) .advantages-grade__card-img_grades-1-4 {
        width: 274px;
        height: 166px;
      }
      &:nth-child(2) .advantages-grade__card-img {
        width: 300px;
        height: 186px;
      }
      &:nth-child(3) .advantages-grade__card-img {
        width: 302.57px;
        height: 219px;
        left: 0;
        top: 0;
      }
      &:nth-child(4) .advantages-grade__card-img {
        width: 310px;
        height: 176px;
      }
      &:nth-child(4) .advantages-grade__card-heading {
        white-space: wrap;
        left: 0;
      }
    }
    &__card {
      &-text {
        font-size: 16px;
        line-height: 131%;
      }
    }
  }
}
@media (min-width: 768px) {
  .advantages-grade {
    padding: 81px 0 80px;
    .center {
      padding: 0 40px;
    }
    &__list {
      flex-wrap: wrap;
      flex-direction: row;
      gap: 20px;
      align-items: flex-start;
    }
    &__item {
      max-width: 341px;
      padding: 29px 30px 31px;
      &:nth-child(odd) {
        max-width: 327px;
      }
      &:nth-child(3) {
        position: relative;
        top: -43px;
      }
      &:nth-child(4) {
        padding: 29px 30px 30px;
      }
      &:nth-child(1) .advantages-grade__card-img_grades-1-4 {
        width: 267px;
        height: 163px;
      }
      &:nth-child(2) .advantages-grade__card-img {
        width: 281px;
        height: 171px;
      }
      &:nth-child(3) .advantages-grade__card-img {
        width: 267px;
        height: 197px;
        top: 1px;
      }
      &:nth-child(4) .advantages-grade__card-img {
        width: 281px;
        height: 158px;
      }
    }
    &__card {
      &-heading {
        font-size: 34px;
        text-align: start;
      }
      &-text {
        text-align: start;
        .word-wrap {
          display: block;
        }
      }
    }
  }
}
@media (min-width: 1000px) {
  .advantages-grade {
    .center {
      padding: 0 50px;
    }
    &__list {
      gap: 30px;
    }
    &__item {
      max-width: 420px;
      padding: 38px 40px 40px;
      &:nth-child(odd) {
        max-width: 450px;
      }
      &:nth-child(3) {
        top: -39px;
        padding: 38px 40px 42px;
      }
      &:nth-child(4) {
        padding: 38px 40px 40px;
      }
      &:nth-child(1) .advantages-grade__card-img_grades-1-4 {
        width: 302px;
        height: 185px;
      }
      &:nth-child(2) .advantages-grade__card-img {
        width: 300px;
        height: 183px;
      }
      &:nth-child(3) .advantages-grade__card-img {
        width: 313px;
        height: 231px;
      }
      &:nth-child(4) .advantages-grade__card-img {
        width: 338px;
        height: 193px;
      }
    }
    &__card {
      &-heading {
        font-size: 40px;
      }
      &-text {
        .word-wrap {
          display: none;
        }
      }
    }
  }
}
