.advantages-school {
  padding: 0 0 50px;
  .promotion__image-wrapper {
    background-image: url("../../images/advantages-school/boy.svg");
    width: 84px;
    height: 128px;
  }
  &__title {
    @extend %main-titles;
  }
  &__list {
    @include flexColumnCenter;
    gap: 40px;
    margin: 0 0 50px;
  }
  &__item {
    @include flexColumnCenter;
    &:nth-child(4) .advantages-school__subtitle {
      line-height: 125%;
    }
  }
  &__image {
    width: 100px;
    height: 100px;
    background-image: url("../../images/advantages-school/img1.svg");
    @include backgroundCenterContain;
    margin: 0 0 20px;
  }
  &__subtitle {
    font-family: "Gotham400", sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 103%;
    font-weight: 600;
    margin: 0 0 10px;
  }
  &__txt {
    text-align: center;
    font-size: 15px;
    line-height: 120%;
  }
}
@media (min-width: 415px) {
  .advantages-school {
    &__image {
      width: 125px;
      height: 125px;
      margin: 0 0 30px;
    }
    &__subtitle {
      font-size: 20px;
      line-height: 100%;
    }
    &__txt {
      line-height: 150%;
    }
  }
}
@media (min-width: 480px) {
  .advantages-school {
    padding: 0 0 70px;
    &__image {
      height: 130px;
    }
    &__subtitle {
      font-size: 20px;
      line-height: 103%;
      margin: 0 0 15px;
    }
    &__txt {
      line-height: 120%;
    }
    .promotion {
      min-height: 380px;
      padding: 37px 17px 30px;
      &__wrapper {
        grid-template-rows: minmax(167px, auto);
        column-gap: 46px;
        row-gap: 30px;
      }
      &__image-wrapper {
        width: 101.1px;
        height: 154px;
      }
      &__description-wrapper {
        align-self: self-end;
      }
      &__title {
        margin: 0;
      }
      &__text {
        margin: 23px 0 0;
      }
    }
  }
}
@media (min-width: 580px) {
  .advantages-school {
    padding: 0 0 80px;
    &__title {
      margin: 0 auto 40px;
      max-width: 470px;
    }
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 88px;
      margin: 0 0 56px;
    }
    &__item {
      max-width: 300px;
    }
    &__subtitle {
      font-size: 18px;
    }
    &__txt {
      font-size: 14px;
      line-height: 157%;
    }
    &__image {
      width: 150px;
      height: 150px;
    }
    .promotion {
      padding: 0 25px 18px;
      min-height: 255px;
      &__wrapper {
        column-gap: 30px;
        grid-template-rows: minmax(101px, auto);
        row-gap: 20px;
      }
      &__image-wrapper {
        position: relative;
        top: 15px;
        width: 168px;
        height: 256px;
      }
      &__description-wrapper {
        align-self: flex-start;
        padding: 23px 0px 0px;
      }
      &__text {
        margin: 17px 0 0;
      }
    }
  }
}
