.advantages-grade {
  padding: 50px 0;
  &__inner,
  &__list {
    min-width: 280px;
    width: 100%;
    @include flexCenter;
    flex-direction: column;
    gap: 30px;
  }
  &__item {
    border-radius: 25px;
    background-color: #eff2fd;
    min-width: 280px;
    width: 100%;
    min-height: 422px;
    padding: 29.3px 20px 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    &:nth-child(1) .advantages-grade__card-img_grades-5-8 {
      width: 237.82px;
      height: 126.6px;
    }
    &:nth-child(2) .advantages-grade__card-img {
      width: 240px;
      height: 145.84px;
    }
    &_right:nth-child(1) .advantages-grade__card-img {
      width: 239.63px;
      height: 179.16px;
    }
    &_right:nth-child(2) .advantages-grade__card-img {
      width: 240px;
      height: 135px;
    }
  }
  &__card {
    &-heading {
      @extend %main-titles;
      line-height: 103%;
    }
    &-text {
      font-size: 15px;
      line-height: 127%;
      margin: 0 0 30px;
      text-align: center;
    }
    &-img {
      margin: 0 auto;
      &-wrapper {
        width: 100%;
      }
    }
  }
}
@media (min-width: 415px) {
  .advantages-grade {
    &__item {
      min-height: 418px;
      padding: 30px 32px 30px 31px;
      &:nth-child(1) .advantages-grade__card-img_grades-1-4 {
        width: 240px;
        height: 149px;
      }
      &:nth-child(2) .advantages-grade__card-img {
        width: 252px;
        height: 150.32px;
      }
      &_right:nth-child(1) .advantages-grade__card-img {
        width: 213.28px;
        height: 150px;
      }
      &_right:nth-child(2) .advantages-grade__card-img {
        width: 256px;
        height: 151px;
      }
      &_right:nth-child(2) .advantages-grade__card-heading {
        white-space: nowrap;
        position: relative;
        left: -10px;
      }
    }
    &__card {
      &-text {
        line-height: 152%;
      }
    }
  }
}
@media (min-width: 480px) {
  .advantages-grade {
    padding: 69px 0 70px;
    .center {
      padding: 0 50px;
    }
    &__item {
      padding: 29px 30px 30px;
      &:nth-child(1) .advantages-grade__card-img_grades-1-4 {
        width: 274px;
        height: 166px;
      }
      &:nth-child(2) .advantages-grade__card-img {
        width: 300px;
        height: 186px;
      }
      &_right:nth-child(1) .advantages-grade__card-img {
        width: 302.57px;
        height: 219px;
      }
      &_right:nth-child(2) .advantages-grade__card-img {
        width: 310px;
        height: 176px;
      }
      &_right:nth-child(2) .advantages-grade__card-heading {
        white-space: wrap;
        left: 0;
      }
    }
    &__card {
      &-text {
        font-size: 16px;
        line-height: 131%;
      }
    }
  }
}
