.application {
  &__offer {
    margin: 0 0 20px 0;
  }
  &__title {
    max-width: 190px;
    width: 100%;
    font-family: "ALSSchlangesans-Bold", sans-serif;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 28px;
    line-height: 29px;
    span {
      background: $color-gradient02;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__text {
    line-height: 14px;
    text-align: center;
  }
  &__form-wrapper {
    max-width: 349px;
    width: 100%;
    min-height: 318px;
    margin: 0 auto;
    padding: 30px 19px;
    border-radius: 15px;
    box-shadow: 5px 15px 40px 0px rgba(30, 35, 66, 0.15);
  }
  &__input-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 0 0 10px 0;
    &::before {
      position: absolute;
      content: "";
      border-radius: 32px 0px 0px 32px;
      width: 45px;
      height: 40px;
      background-image: url(../../images/application/class-form-image.svg);
      @include backgroundCenterCover;
      left: 0;
      top: 0;
      z-index: 0;
    }
  }
  &__input-wrapper:nth-child(2) {
    &::before {
      background: url(../../images/application/form-image-parent-neme.svg);
      @include backgroundCenterCover;
    }
  }
  &__input-wrapper:nth-child(3) {
    &::before {
      background: url(../../images/application/form-phone-image.svg);
      @include backgroundCenterCover;
    }
  }
  &__input {
    position: relative;
    background: transparent;
    width: 100%;
    height: 100%;
    padding: 8px 24px 8px 54px;
    border: 1px solid #e0e0e0;
    border-radius: 32px;
    &::placeholder {
      font-family: "Gotham400" sans-serif;
      font-size: 13px;
      line-height: 16px;
      color: #9e9e9e;
    }
  }
}
