.application {
  padding: 0 0 50px;
  &__offer {
    margin: 0 0 20px 0;
  }
  &__title {
    max-width: 190px;
    width: 100%;
    @extend %main-titles;
    margin: 0 auto 30px;
    span {
      background: $color-gradient02;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__text {
    line-height: 14px;
    text-align: center;
  }

  &__form {
    @include flexCenter;
    flex-direction: column;
  }

  &__form-wrapper {
    max-width: 349px;
    width: 100%;
    min-height: 318px;
    margin: 0 auto 20px;
    padding: 30px 19px;
    border-radius: 15px;
    box-shadow: 5px 15px 40px 0px rgba(30, 35, 66, 0.15);
  }
  &__input-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 0 0 10px 0;
    &::before {
      position: absolute;
      content: "";
      border-radius: 32px 0px 0px 32px;
      width: 45px;
      height: 40px;
      background-image: url(../../images/application/class-form-image.svg);
      @include backgroundCenterCover;
      left: 0;
      top: 0;
      z-index: 0;
    }
  }
  &__input-wrapper:nth-child(2) {
    &::before {
      background: url(../../images/application/form-image-parent-neme.svg);
      @include backgroundCenterCover;
    }
  }
  &__input-wrapper:nth-child(3) {
    &::before {
      background: url(../../images/application/form-phone-image.svg);
      @include backgroundCenterCover;
    }
  }
  &__input {
    position: relative;
    background: transparent;
    width: 100%;
    height: 100%;
    padding: 8px 24px 8px 54px;
    border: 1px solid #e0e0e0;
    border-radius: 32px;
    &::placeholder {
      font-family: "Gotham400" sans-serif;
      font-size: 13px;
      line-height: 16px;
      color: #9e9e9e;
    }
  }

  &__button-wrapper {
    @include flexCenter;
    padding: 10px 0;
  }

  &__button {
    @include button(22px 37px, 32px, $color-gradient02, 10px, 11.8px);
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }

  &__agreement-text {
    color: #9e9e9e;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    a {
      text-decoration-line: underline;
      color: #9e9e9e;
    }
  }

  &__image-wrapper {
    margin: 0 auto;
  }

  &__image {
    display: block;
    min-width: 280px;
    width: 100%;
  }
}

@media (min-width: 415px) {
  .application {
    &__offer {
      margin-bottom: 30px;
    }
    &__title {
      max-width: 350px;
    }
    &__text {
      font-size: 15px;
      line-height: 130%;
      padding: 0 30px;
    }
    &__form-wrapper {
      margin: 0 auto 30px;
      padding: 35px 26px 23px;
    }
    &__input {
      max-width: 298px;
      width: 100%;
      height: 56px;
      padding: 16px 7.81px 16px 63px;
      &-wrapper {
        margin: 0 0 20px 0;
        height: 56px;
        &::before {
          width: 56px;
          height: 56px;
        }
      }
    }
    &__button-wrapper {
      padding: 10px 0 20px;
    }
    &__agreement-text {
      font-size: 13px;
      line-height: 130%;
    }
    &__image-wrapper {
      padding: 0 14px;
    }
  }
}
@media (min-width: 480px) {
  .application {
    padding: 0 0 70px;
    &__title {
      line-height: 103%;
    }
    &__text {
      font-size: 18px;
      line-height: 103%;
      padding: 0;
    }
    &__form-wrapper {
      margin: 0 auto 40px;
      padding: 35px 26px;
    }
    &__image-wrapper {
      padding: 0;
    }
  }
}
@media (min-width: 768px) {
  .application {
    padding: 0 0 80px;
    &__wrapper {
      max-width: 537px;
      width:100%;
      margin: 0 auto;
    }
    &__offer {
      margin: 0 0 110px;
    }
    &__title {
      max-width: 100%;
      margin: 0 auto 40px;
    }
    &__form-wrapper {
      position: relative;
      &::before{
        position: absolute;
        content: '';
        background: url(../../images/application/backround-form-image.svg) no-repeat center / cover;
        width: 331.62px;
        height: 402px;
        left: -94px;
        top: -80px;
      }

    }
  }
}
