.application {
  padding: 0 0 50px;
  &__offer {
    margin: 0 0 20px 0;
  }
  &__title {
    max-width: 190px;
    width: 100%;
    @extend %main-titles;
    margin: 0 auto 30px;
    span {
      background: $color-gradient02;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__text {
    line-height: 14px;
    text-align: center;
  }
  &__image-wrapper {
    margin: 0 auto;
  }
  &__image {
    display: block;
    min-width: 280px;
    width: 100%;
  }
}

@media (min-width: 415px) {
  .application {
    &__offer {
      margin-bottom: 30px;
    }
    &__title {
      max-width: 350px;
    }
    &__text {
      font-size: 15px;
      line-height: 130%;
      padding: 0 30px;
    }
    &__image-wrapper {
      padding: 0 14px;
    }
  }
}
@media (min-width: 480px) {
  .application {
    padding: 0 0 70px;
    &__title {
      line-height: 103%;
    }
    &__text {
      font-size: 18px;
      line-height: 103%;
      padding: 0;
    }
    &__image-wrapper {
      padding: 0;
    }
  }
}
@media (min-width: 768px) {
  .application {
    padding: 0 0 80px;
    &__wrapper {
      max-width: 537px;
      width: 100%;
      margin: 0 auto;
    }
    &__offer {
      margin: 0 0 110px;
    }
    &__title {
      max-width: 100%;
      margin: 0 auto 40px;
    }
    &__form-wrapper {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        background: url(../../images/application/backround-form-image.svg)
          no-repeat center / cover;
        width: 331.62px;
        height: 402px;
        left: -94px;
        top: -80px;
      }
    }
  }
}
@media (min-width: 1000px) {
  .application {
    .center {
      padding: 0 20px 0 90px;
    }
    &__offer {
      grid-area: offer;
      margin: 0 0 22px;
      max-width: 450px;
    }
    &__title {
      font-size: 40px;
      text-align: start;
      padding: 0 0 0 5px;
    }
    &__text {
      text-align: start;
      padding: 0 0 0 5px;
    }
    &__form-wrapper {
      grid-area: form;
      margin: 75px auto 25px;
      &::before {
        left: -75px;
        top: -75px;
      }
    }
    &__image-wrapper {
      grid-area: image;
      max-width: 485px;
      margin: 0;
    }
    &__wrapper {
      max-width: 100%;
      min-width: 890px;
      display: grid;
      grid-template: auto auto / minmax(349px, 1fr) minmax(485px, 645px);
      grid-template-areas:
        "form offer"
        "form image";
      column-gap: 56px;
    }
  }
}

@media (min-width: 1920px) {
  .application {
    padding: 0 0 100px;
    .center {
      padding: 0;
    }
    &__wrapper {
      grid-template: auto auto / minmax(464px, 1fr) 645px;
      grid-template-areas:
        "form offer"
        "form image";
      column-gap: 32px;
      row-gap: 14px;
    }
    &__form-wrapper {
      justify-self: end;
      margin: 112px 0 79px;
      &::before {
        width: 429px;
        height: 520px;
        left: -115px;
        top: -95px;
      }
    }
    &__offer {
      justify-self: end;
      max-width: 544px;
    }
    &__title {
      font-size: 50px;
      margin: 0 auto 12px;
    }
    &__text {
      font-size: 20px;
    }
    &__image {
      width: 645px;
    }
  }
}
