.compare-schools {
  padding: 50px 0;
  &__title {
    @extend %main-titles;
  }
  &__wrp {
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    @include flexColumnCenter;
  }
}
.about-schools {
  max-width: 260px;
  width: 100%;
  min-height: 450px;
  border-radius: 15px;
  background: linear-gradient(180deg, #eff2fd 0%, #fcfcfc 100%);
  padding: 20px 0 5px;
  filter: drop-shadow(
    3.906510829925537px 11.719532012939453px 31.252086639404297px
      rgba(30, 35, 66, 0.15)
  );
  @include flexColumnCenter;
  &__title {
    font-family: "ALSSchlangesans-Bold", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    margin: 0 0 15px 0;
    text-align: center;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    max-width: 217px;
    width: 100%;
    line-height: 21px;
    margin: 0 0 10px 0;
    padding-left: 29px;
    position: relative;

    span {
      font-family: "Gotham700", sans-serif;
    }

    &::before {
      content: "\25CF";
      position: absolute;
      font-size: 21px;
      left: 0;
    }
  }
  &--online {
    max-width: 280px;
    min-height: 439px;
    padding: 25px 0 5px;
    background: $color-gradient02;
    margin: -73px 0 0;
    .about-schools__title {
      color: #ffffff;
      font-size: 26px;
    }
    .about-schools__item {
      max-width: 248px;
      width: 100%;
      color: $text-color-white01;
      margin: 0 0 13px 0;
      line-height: 24px;
      font-size: 16px;
    }
  }
}

@media (min-width: 415px) {
  .compare-schools {
    &__wrp {
      max-width: 345px;
    }
  }

  .about-schools {
    max-width: 310px;
    &--online {
      padding: 30px 0 15px;
      max-width: 345px;
      margin: -58px 0 0;
      .about-schools__title {
        font-size: 34px;
      }
    }

    &__title {
      font-size: 32px;
      margin: 0 0 30px;
    }
  }
}
@media (min-width: 480px) {
  .compare-schools {
    padding: 70px 0;
  }
  .about-schools {
    padding: 30px 0 5px;
    &__title {
      font-size: 28px;
      line-height: 103.2%;
    }
    &--online {
      max-width: 334px;
      margin: -46px 0 0;
      .about-schools__title {
        font-size: 32px;
        line-height: 103.2%;
      }
    }
  }
}
@media (min-width: 768px) {
  .compare-schools {
    padding: 80px 0;
    &__title {
      margin: 0 0 40px;
    }
    &__wrp {
      flex-direction: row;
      min-width: 630px;
    }
  }
  .about-schools {
    padding: 30px 12px 15px 0;
    &--online {
      margin: 0 0 0 -14px;
      padding: 30px 24px 15px 0;
      min-height: 470px;
      .about-schools__title {
        margin: 0 0 24px 0;
      }
    }
    &__item {
      margin: 0 0 15px 0;
    }
    &__title {
      padding: 0 0 0 10px;
    }
  }
}
@media (min-width: 1000px) {
  .compare-schools {
    &__wrp {
      position: relative;
      max-width: 630px;
      &::before {
        z-index: -1;
        position: absolute;
        content: "";
        background: url(../../images/compare-schools/img-before.svg) no-repeat
          center / cover;
        width: 228.51px;
        height: 210px;
        top: 48px;
        left: -176px;
      }
      &::after {
        z-index: -1;
        position: absolute;
        content: "";
        background: url(../../images/compare-schools/img-after.svg) no-repeat
          center / cover;
        width: 228.51px;
        height: 210px;
        bottom: 20px;
        right: -175px;
      }
    }
  }
  .about-schools {
    &__title {
      margin: 0 0 26px;
    }
    &--online .about-schools__title {
      margin: 0 0 22px;
    }
  }
}
@media (min-width: 1920px) {
  .compare-schools {
    padding: 80px 0 77px;
    &__title {
      margin: 0 0 60px;
    }
    &__wrp {
      max-width: 691px;
      &::before {
        width: 321px;
        height: 295px;
        top: 100px;
        left: -349px;
      }
      &::after {
        width: 316px;
        height: 296px;
        bottom: 98px;
        right: -345px;
      }
    }
  }

  .about-schools {
    max-width: 360px;
    min-height: 470px;
    padding: 39px 40px 32px 0;
    &__title {
      font-size: 32px;
      margin: 0 0 23px;
      padding: 0 0 0 36px;
    }
    &__item {
      font-size: 15px;
      max-width: 240px;
      padding-left: 39px;
    }
    &--online {
      max-width: 376px;
      min-height: 490px;
      padding: 39px 40px 32px 26px;
      margin: 0 0 0 -45px;
      .about-schools__title {
        font-size: 32px;
        padding: 0 0 0 6px;
      }
      .about-schools__item {
        max-width: 280px;
        font-size: 18px;
      }
    }
  }
}
