.consists-of-education {
  padding: 40px 0 52px;
  &__title {
    @extend %main-titles;
  }
  &__list {
    @include flexColumnCenter;
    gap: 30px;
  }
  &__item {
    &:first-child .consists-of-education__button {
      padding: 19px 34.4px;
    }
  }
  &__button {
    display: inline-block;
    @include button(19px 33px, 15px, #eff2fd, 24px, 103%);
    font-family: "ALSSchlangesans-Bold", sans-serif;
    color: #243976;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
