.footer {
  padding: 30px 0 14px;
  background: #eff2fd;
  &__position-wrapper {
    display: grid;
    column-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "logo logo"
      "classes documents"
      "social social"
      "contacts contacts";
  }
  &__logo {
    grid-area: logo;
    margin: 0 0 30px 0;
  }
  &__block-classes {
    grid-area: classes;
    min-height: 107px;
    margin: 0 0 20px 0;
  }
  &__block-documents {
    grid-area: documents;
    margin: 0 0 20px 0;
  }
  &__block-social {
    grid-area: social;
    min-height: 76px;
    margin: 0 0 30px 0;
  }
  &__block-contacts {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 20px 0;
  }
  &-title {
    font-size: 16px;
    line-height: 103%;
  }
  &__title-classes {
    margin: 0 0 10px 0;
  }
  &__title-documents {
    margin: 0 0 31px 0;
  }
  &__title-social {
    margin: 0 0 26px 0;
  }

  &__list-social {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &-link {
    line-height: 27px;
    color: $text-color-blue;
  }

  &__link-documents {
    display: flex;
    align-items: center;
    padding-left: 50px;
    position: relative;
    color: #243976;
    &::before {
      content: "";
      width: 40px;
      height: 51px;
      position: absolute;
      background: url(../../images/footer/lic.svg);
      @include backgroundCenterContain;
      left: 0;
    }
  }
  &__link-social {
    display: block;
    width: 34px;
    height: 34px;
    &--telegram {
      background: url(../../images/icon/telegramm-icon.svg);
      @include backgroundCenterContain;
    }
    &--youtube {
      background: url(../../images/icon/youtube.svg);
      @include backgroundCenterContain;
    }
    &--vk {
      background: url(../../images/icon/vk-icon.svg);
      @include backgroundCenterContain;
    }
  }
  &__address,
  &__tel {
    position: relative;
    max-width: 209px;
    width: 100%;
    min-height: 40px;
    padding: 0 0 0 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      background-image: url(../../images/footer/icon-map.svg);
      @include backgroundCenterCover;
      left: 0;
    }
  }
  &__tel::before {
    background-image: url(../../images/footer/icon-tel.svg);
  }
  &__link-contacts {
    line-height: 20px;
  }
  &__item-info {
    font-size: 8px;
    color: #9299af;
    line-height: 16.256px;
    text-align: center;
  }
}
@media (min-width: 415px) {
  .footer {
    padding: 28px 0 31px;
    &__block-classes {
      display: none;
    }
    &__position-wrapper {
      display: grid;
      column-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "logo logo"
        "social documents"
        "contacts contacts";
    }
    &__logo,
    &__logo-link,
    &__logo-image {
      max-width: 236px;
      height: 67px;
    }
    &__block-contacts {
      justify-self: center;
      margin-bottom: 40px;
    }
    &-title {
      font-size: 20px;
    }
    &__title-documents {
      margin: 0 0 27px 0;
    }
    &__title-social {
      margin: 0 0 22px 0;
    }
    &__link-contacts {
      font-size: 15px;
      line-height: 27px;
    }
    &__address,
    &__tel {
      max-width: 230px;
      padding: 0 0 0 54px;
      &::before {
        width: 46px;
        height: 46px;
      }
    }

    &__block-documents {
      margin-bottom: 51px;
    }
  }
}
