.footer {
  padding: 30px 0 14px;
  background: #eff2fd;
  &__position-wrapper {
    display: grid;
    column-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "logo logo"
      "classes documents"
      "social social"
      "contacts contacts";
  }
  &__logo {
    grid-area: logo;
    margin: 0 0 30px 0;
  }
  &__block-classes {
    grid-area: classes;
    min-height: 107px;
    margin: 0 0 20px 0;
  }
  &__block-documents {
    grid-area: documents;
    margin: 0 0 20px 0;
  }
  &__block-social {
    grid-area: social;
    min-height: 76px;
    margin: 0 0 30px 0;
  }
  &__block-contacts {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 20px 0;
  }
  &-title {
    font-size: 16px;
    line-height: 103%;
  }
  &__title-classes {
    margin: 0 0 10px 0;
  }
  &__title-documents {
    margin: 0 0 31px 0;
  }
  &__title-social {
    margin: 0 0 26px 0;
  }

  &__list-social {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &-link {
    line-height: 193%;
    color: $text-color-blue;
  }
  &__link {
    &-documents {
      font-size: 15px;
      line-height: 180%;
    }
    &-contacts {
      font-size: 13px;
      line-height: 154%;
    }
  }

  &__link-documents {
    display: flex;
    align-items: center;
    padding-left: 50px;
    position: relative;
    color: #243976;
    &::before {
      content: "";
      width: 40px;
      height: 51px;
      position: absolute;
      background: url(../../images/footer/lic.svg);
      @include backgroundCenterContain;
      left: 0;
    }
  }
  &__link-social {
    display: block;
    width: 34px;
    height: 34px;
    &--telegram {
      background: url(../../images/icon/telegramm-icon.svg);
      @include backgroundCenterContain;
    }
    &--youtube {
      background: url(../../images/icon/youtube.svg);
      @include backgroundCenterContain;
    }
    &--vk {
      background: url(../../images/icon/vk-icon.svg);
      @include backgroundCenterContain;
    }
  }
  &__address,
  &__tel {
    position: relative;
    max-width: 209px;
    width: 100%;
    min-height: 40px;
    padding: 0 0 0 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      background-image: url(../../images/footer/icon-map.svg);
      @include backgroundCenterCover;
      left: 0;
    }
  }
  &__tel::before {
    background-image: url(../../images/footer/icon-tel.svg);
  }
  &__item-info {
    font-size: 8px;
    color: #9299af;
    line-height: 16.256px;
    text-align: center;
  }
}
@media (min-width: 415px) {
  .footer {
    padding: 28px 0 31px;
    &__block-classes {
      display: none;
    }
    &__position-wrapper {
      display: grid;
      column-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "logo logo"
        "social documents"
        "contacts contacts";
    }
    &__logo,
    &__logo-link,
    &__logo-image {
      max-width: 236px;
      height: 67px;
    }
    &__block-contacts {
      justify-self: center;
      margin-bottom: 40px;
    }
    &-title {
      font-size: 20px;
    }
    &__title-documents {
      margin: 0 0 27px 0;
    }
    &__title-social {
      margin: 0 0 22px 0;
    }
    &__link-contacts {
      font-size: 15px;
      line-height: 27px;
    }
    &__address,
    &__tel {
      max-width: 233px;
      padding: 0 0 0 54px;
      &::before {
        width: 46px;
        height: 46px;
      }
    }

    &__block-documents {
      margin-bottom: 51px;
    }
  }
}
@media (min-width: 480px) {
  .footer {
    .center {
      padding: 0 30px;
    }
    padding: 30px 0 14px;
    &__logo {
      margin: 0 0 40px 0;
    }
    &__block-classes {
      display: block;
      margin: 0 0 26px 0;
    }
    &-title {
      font-size: 18px;
    }
    &__title-classes {
      margin: 0 0 15px 0;
    }
    &__title-social {
      margin: 0 0 26px 0;
    }
    &__item-classes {
      margin: 0 0 5px 0;
    }
    &__position-wrapper {
      column-gap: 52px;
      grid-template-columns: repeat(3, minmax(70px, auto));
      grid-template-areas:
        "logo logo logo"
        "classes documents social"
        "contacts contacts contacts";
    }
    &__block-contacts {
      flex-direction: row;
      gap: 40px;
      margin-bottom: 30px;
    }
    &__address,
    &__tel {
      padding: 0 0 0 45px;
      &::before {
        width: 40px;
        height: 40px;
      }
    }
    &__address {
      padding: 0 12px 0 45px;
    }
    &__link {
      &-documents {
        font-size: 15px;
        line-height: 180%;
      }
      &-contacts {
        font-size: 13px;
        line-height: 154%;
      }
    }
  }
}
@media (min-width: 768px) {
  .footer {
    .center {
      padding: 0 50px 0 40px;
    }
    &__logo {
      margin: -9px 0px 40px 0;
      width: 170px;
      height: 48px;
    }
    &__position-wrapper {
      column-gap: 54px;
      grid-template-columns:
        minmax(170px, auto) minmax(70px, auto) minmax(128px, auto)
        minmax(108px, auto);
      grid-template-areas:
        "logo classes documents social"
        "contacts contacts contacts contacts";
    }
    &__block-classes {
      margin: 0 0 25px;
    }
    &__title-documents {
      margin: 0 0 18px;
    }
    &__title-social {
      margin: 0 0 24px;
    }
    &__link-documents {
      font-size: 14px;
      padding-left: 33px;
      &::before {
        width: 21px;
        height: 26.77px;
      }
    }
    &__link-social {
      width: 30px;
      height: 30px;
    }
    &__block-contacts {
      gap: 91px;
    }
    &__link-contacts {
      font-size: 14px;
      line-height: 193%;
    }
    &__address {
      padding: 0 20px 0 50px;
    }
  }
}
@media (min-width: 1000px) {
  .footer {
    padding: 40px 0 14px;
    .center {
      padding: 0 50px;
    }
    &__position-wrapper {
      column-gap: 40px;
      grid-template-columns:
        minmax(170px, auto)
        minmax(100px, auto)
        minmax(118px, auto)
        minmax(120px, auto)
        minmax(214px, auto);
      grid-template-areas: "logo classes documents social contacts";
    }
    &__logo {
      margin: -19px 0 0 0;
    }
    &__block-classes {
      margin: 0 0 5px;
    }
    &__block-classes,
    &__block-social {
      padding: 0 0 0 9px;
    }
    &__block-contacts {
      flex-direction: column;
      gap: 6px;
      padding: 0 0 0 39px;
      margin: -5px 0 0;
    }
    &__tel {
      padding: 0 0 0 50px;
    }
    &__item-info {
      text-align: start;
    }
  }
}
@media (min-width: 1920px) {
  .footer {
    padding: 49px 0 12px;
    .center {
      padding: 0;
    }
    &__position-wrapper {
      grid-template-columns:
        minmax(250px, auto)
        minmax(88px, auto)
        minmax(138px, auto)
        minmax(153px, auto)
        minmax(321px, auto);
      grid-template-areas: "logo classes documents social contacts";
    }
    &__logo {
      width: 236px;
      height: 67px;
      margin: 0;
    }
    &__title,
    &__title-documents {
      font-size: 20px;
    }
    &__title-classes {
      margin: 0 0 18px;
    }
    &__item-classes {
      margin: 0 0 9px;
    }
    &__link-social {
      width: 34px;
      height: 34px;
    }
    &__block-info {
      max-width: 254px;
      width: 100%;
      margin-top: -22px;
    }
    &__block-contacts {
      margin-top: -10px;
      gap: 8px;
    }
    &__link-contacts {
      font-size: 16px;
      line-height: 169%;
    }
    &__address::before,
    &__tel::before {
      width: 46px;
      height: 46px;
    }
    &__address {
      padding: 0 0 0 53px;
    }
    &__tel {
      padding: 0 0 0 56px;
    }
  }
}
