body {
  font-family: "Gotham400", sans-serif;
  font-size: 14px;
  color: $text-color-blue;
  background-color: #fff;
}
.center {
  padding: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 1000px) {
  .center {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1140px;
    width: 100%;
  }
}
.promotion {
  min-width: 280px;
  width: 100%;
  min-height: 445px;
  padding: 30px 20px 20px;
  background-color: $background-light-blue;
  border-radius: 25px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin: 0 0 20px;
    text-align: center;
    font-family: "ALSSchlangesans-Bold", sans-serif;
    font-size: 20px;
    line-height: 21px;
  }
  &__text {
    margin: 0 0 15px;
    text-align: center;
    line-height: 18px;
  }
  &__image-wrapper {
    margin: 0 0 15px;
    width: 86px;
    height: 129px;
    background: url(../../images/online-learnig/promotion-girl.png) no-repeat
      center / contain;
  }
}
.sign-up-lesson {
  @include flexSpaceBetween;
  flex-direction: column;
  min-height: 105px;
  &__btn-wrp {
    height: 54px;
  }
  &__btn {
    @include button(21px 35px, 90px, $color-gradient01, 11px, 13px);
    box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
    text-transform: uppercase;
    letter-spacing: 1.375px;
    display: block;
    white-space: nowrap;
    max-width: 273px;
  }
}

.contact-us {
  width: 199px;
  @include flexSpaceBetween;
  &__txt {
    font-family: "Gotham400", sans-serif;
    color: #737373;
    line-height: 23.128px;
    font-size: 14px;
  }
  &__telegramm,
  &__whatsapp {
    display: block;
    width: 40px;
    height: 40px;
    @include backgroundCenterCover;
  }
  &__telegramm {
    background: url(../../images/icon/telegramm-icon.svg);
  }
  &__whatsapp {
    background: url(../../images/icon/watsapp-icon.svg);
  }
}

@media (min-width: 320px) {
  .sign-up-lesson {
    min-height: 122px;
    &__btn-wrp {
     height: 67px;
    }
    &__btn {
      padding: 27px 56px;
    }
  }
  .promotion {
    min-height: 316px;
    &__description-wrapper {
      grid-area: description;
    }
    &__image-wrapper {
      grid-area: image;
    }
    .sign-up-lesson {
      grid-area: sign-up;
    }
    &__wrapper {
      display: grid;
      grid-template-columns: 79px 1fr;
      column-gap: 17px;
      grid-template-areas:
        "image description"
        "sign-up sign-up";
    }
    &__title {
      text-align: start;
      font-size: 24px;
      line-height: 24px;
      margin: 0 0 10px;
    }
    &__text {
      text-align: start;
      font-size: 16px;
      line-height: 16.512px;
      margin: 0 0 20px;
    }
    &__image-wrapper {
      height: 119px;
    }
    &__btn {
      @include button(27px 44px, 90px, $color-gradient01, 11px, 13px);
      max-width: 273px;
   }
}
}