.header {
  padding: 14px 0 17px 0;
  background: url(../../images/header/background.png) no-repeat center / cover;
  &__wrapper {
    margin: 0 0 32px;
    min-width: 280px;
    width: 100%;
    @include flexSpaceBetween;
  }
}

.logo {
  position: relative;
  z-index: 10;
  max-width: 120px;
  width: 100%;
  height: 34px;

  &__link {
    @extend .logo;
    display: block;
  }

  &__image {
    @extend .logo;
  }
}

/* modile-menu */

.menu {
  &-list {
    position: relative;
    min-width: 280px;
    width: 100%;
    min-height: 186px;
    margin: 0 0 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      top: -45px;
      width: 100%;
      height: 1px;
      background-color: #c5cff3;
    }
  }
  &-item-account {
    margin: 16px 0 0 0;
  }
  &-item-tel {
    margin: 10px 0 0 0;
    .menu-link {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &-link {
    font-family: "Gotham500", sans-serif;
    line-height: 16px;
    color: $text-color-blue;
    font-size: 16px;
  }
  &-buttons-group {
    min-height: 140px;
  }
}
#menu-switch {
  display: none;
}
#menu-switch[type="checkbox"]:checked
  ~ .mobile-menu__wrapper
  .mobile-menu__box {
  visibility: visible;
}
.mobile-menu {
  &__burger {
    display: block;
    position: relative;
    z-index: 6;
    width: 40px;
    height: 40px;
    @include flexCenter;
    border-radius: 90px;
    box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
    background: $color-gradient01;
    cursor: pointer;
    caret-color: transparent;
  }
  &__burger-element {
    position: relative;
    display: block;
    height: 1.7px;
    width: 15.8px;
    background-color: #fff;
    transition: all ease 0.4s;
  }
  &__burger-element::before {
    @extend .mobile-menu__burger-element;
    content: "";
    position: absolute;
    top: 5.1px;
  }
  &__burger-element::after {
    @extend .mobile-menu__burger-element;
    content: "";
    position: absolute;
    top: -5.1px;
  }
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &__box {
    visibility: hidden;
    width: 100%;
    min-height: 565px;
    box-shadow: 5px 15px 40px 0px rgba(30, 35, 66, 0.15);
    border-radius: 0px 0px 15px 15px;
    border-top: 1px solid $border-color;
    padding: 120px 20px 75px;
    background-color: $background-light-blue;
  }
}

#menu-switch[type="checkbox"]:checked
  ~ .mobile-menu__burger
  > .mobile-menu__burger-element {
  background-color: transparent;
  width: 21px;
  height: 2px;
  border-radius: 1px;
}
#menu-switch[type="checkbox"]:checked
  ~ .mobile-menu__burger
  > .mobile-menu__burger-element::before {
  background-color: #fff;
  transform: rotate(45deg);
  top: 0px;
}
#menu-switch[type="checkbox"]:checked
  ~ .mobile-menu__burger
  > .mobile-menu__burger-element::after {
  background-color: #fff;
  transform: rotate(-45deg);
  top: 0px;
}

.buttons {
  min-height: 140px;
  @include flexSpaceBetween;
  flex-direction: column;
}

.button {
  display: block;
  @include button(8px 30px, 15px, $color-gradient02, 12px, 14px);
}
/* END-modile-menu */
.header__banner {
  &-image {
    min-width: 280px;
    width: 100%;
    min-height: 167px;
    margin: 0 0 40px 0;
  }
  &-title {
    min-width: 280px;
    width: 100%;
    min-height: 72px;
    font-family: "ALSSchlangesans-Bold", sans-serif;
    font-size: 34px;
    line-height: 34px;
    text-align: center;
    margin: 0 0 20px 0;
  }
  &-txt {
    min-width: 280px;
    width: 100%;
    font-family: "Gotham400", sans-serif;
    font-size: 15px;
    line-height: 24.78px;
    text-align: center;
    margin: 0 0 10px 0;
  }
  &-txt_bold {
    font-family: "Gotham700", sans-serif;
    margin: 0 0 48px 0;
  }
}

.color-blue {
  color: #49b3f7;
}

@media (min-width: 415px) {
  .header {
    padding: 15px 0 27px;
  }
  .logo {
    max-width: 170px;
    height: 48px;
  }
  .mobile-menu {
    &__burger {
      width: 43px;
      height: 43px;
      &-element {
        width: 17px;
        height: 2px;
      }
    }
  }
  .menu-list {
    margin: 0 0 30px;
    &::before {
      top: -38px;
    }
  }
  .header__banner {
    &-title {
      font-size: 40px;
      line-height: 40px;
      margin: 0 0 30px;
    }
    &-txt_bold {
      margin: 0 0 25px 0;
    }
  }
}
