.lesson-advantages {
  background-color: $background-light-blue;
  padding: 28px 0 22px;
  box-sizing: border-box;
  &__title {
    @extend %main-titles;
    font-weight: 400;
    color: $text-color-blue;
    min-width: 300px;
    padding: 0 10px;
    box-sizing: border-box;
  }
  &__image {
    min-width: 280px;
    width: 100%;
    height: 183px;
    background: url(../../images/lesson-advantages/card-image.png) no-repeat
      center/ contain;
    margin: 25px 0;
  }
  &__cards-wrapper {
    margin: 0 0 20px 0;
  }
  &__card {
    min-width: 280px;
    padding: 15px 10px 20px 10px;
    box-sizing: border-box;
    &:nth-child(3) .lesson-advantages__text::before {
      transform: rotate(-102.41deg);
    }
    &:nth-child(4) .lesson-advantages__text::before {
      transform: rotate(131.21deg);
    }
  }
  &__name {
    margin: 0 0 14px 0;
    font-size: 16px;
    line-height: 16px;
    padding: 0 0 0 40px;
  }
  &__text {
    padding: 0 0 0 40px;
    position: relative;
    line-height: 18px;
    &::before {
      position: absolute;
      content: "";
      top: 2px;
      left: -10px;
      background: url(../../images/lesson-advantages/decor-1.svg) no-repeat
        center / contain;
      width: 35px;
      height: 35px;
    }
  }
}
@media (min-width: 415px) {
  .lesson-advantages {
    &__cards-wrapper {
      margin: 0 0 25px 0;
    }
    &__card {
      padding: 15px 10px 15px 10px;
    }
    &__name {
      font-size: 17px;
      line-height: 17px;
    }
    &__image {
      height: 227px;
    }
  }
}
