.online-learning {
  padding: 40px 0 50px;
  &__info-wrapper {
    display: flex;
    flex-direction: column; 
  }
  &__title {
    @extend %main-titles;
  }
  &__list {
    margin: 0 0 50px;
    min-width: 270px;
    min-height: 470px;
    width: 100%;
    flex-direction: column;
    @include flexSpaceBetween;  
  }
  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 0 0 0 100px;
    min-height: 70px;
    font-family: "Gotham500", sans-serif;
    font-size: 16px;
    line-height: 24px;
  

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      height: 70px;
      background-image: url(../../images/online-learnig/item-icon1.svg);
      @include backgroundCenterCover;
    }
    &:nth-child(2)::before {
      background-image: url(../../images/online-learnig/item-icon2.svg);
    }
    &:nth-child(3)::before {
      background-image: url(../../images/online-learnig/item-icon3.svg);
    }
    &:nth-child(4)::before {
      background-image: url(../..//images/online-learnig/item-icon4.svg);
    }
    &:nth-child(5)::before {
      background-image: url(../../images/online-learnig/item-icon5.svg);
    }
}
}

