@import "../css/normolize.css";
@import "../css/nulling-styles.css";
@import "../css/fonts.css";
@import "./variables";
@import "animation-hover.css";
body {
  font-family: "Gotham400", sans-serif;
  font-size: 14px;
  color: $text-color-blue;
  background-color: #fff;
}
.center {
  padding: 0 15px;
}
@import "./header";
@import "./online-learning";
@import "./online-lessons";
@import "./lesson-advantages";
@import "./compare-schools";
@import "./advantages-school";
@import "./education-price";
@import "./education-document";
@import "./reviews";

.center {
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.promotion {
  min-width: 280px;
  width: 100%;
  min-height: 445px;
  padding: 30px 20px 17px;
  background-color: $background-light-blue;
  border-radius: 25px;

  .promotion__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.promotion__description-wrapper {
  .promotion__title {
    margin: 0 0 20px;
    text-align: center;
    font-family: "ALSSchlangesans-Bold", sans-serif;
    font-size: 20px;
    line-height: 21px;
  }
  .promotion__text {
    margin: 0 0 15px;
    text-align: center;
    line-height: 18px;
  }
}
.promotion__image-wrapper {
  margin: 0 0 15px;
  width: 86px;
  height: 129px;
  background: url(../../images/online-learnig/promotion-girl.png) no-repeat
    center / cover;
}
