@import "../css/normolize.css";
@import "../css/nulling-styles.css";
@import "../css/fonts.css";
@import "./variables";
@import "animation-hover.css";
body {
  font-family: "Gotham400", sans-serif;
  font-size: 14px;
  color: $text-color-blue;
  background-color: #fff;
}
.center {
  padding: 0 15px;
}
@import "./header";
@import "./online-learning";
@import "./online-lessons";
@import "./lesson-advantages";
@import "./compare-schools";
@import "./advantages-school";
@import "./education-price";
@import "./education-document";
@import "./reviews";

.center {
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.promotion {
  min-width: 280px;
  width: 100%;
  min-height: 445px;
  padding: 30px 20px 17px;
  background-color: $background-light-blue;
  border-radius: 25px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin: 0 0 20px;
    text-align: center;
    font-family: "ALSSchlangesans-Bold", sans-serif;
    font-size: 20px;
    line-height: 21px;
  }
  &__text {
    margin: 0 0 15px;
    text-align: center;
    line-height: 18px;
  }
  &__image-wrapper {
    margin: 0 0 15px;
    width: 86px;
    height: 129px;
    background: url(../../images/online-learnig/promotion-girl.png) no-repeat
      center / cover;
  }
}
.sign-up-lesson {
  @include flexSpaceBetween;
  flex-direction: column;
  min-height: 105px;
  &__btn-wrp {
    height: 54px;
  }
  &__btn {
    @include button(21px 35px, 90px, $color-gradient01, 11px, 13px);
    box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
    text-transform: uppercase;
    letter-spacing: 0.12em;
    display: block;
  }
}

.contact-us {
  width: 199px;
  @include flexSpaceBetween;
  &__txt {
    font-family: "Gotham400", sans-serif;
    color: #737373;
    line-height: 23.128px;
    font-size: 14px;
  }
  &__telegramm,
  &__whatsapp {
    display: block;
    width: 40px;
    height: 40px;
    @include backgroundCenterCover;
  }
  &__telegramm {
    background: url(../../images/telegramm-icon.svg);
  }
  &__whatsapp {
    background: url(../../images/watsapp-icon.svg);
  }
}
